/*-------------------------------------------------
Style Sheet
Version : 1.0
Author :  BMN
Create date : 2020. 12. 07
-------------------------------------------------*/
.form__select1 {
	width: 120px;
}
.form__select2 {
	width: 90px;
}
