/* 폰트 */
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: 'nanumsquare', 'Nanum Gothic', 'Roboto', sans-serif;
  vertical-align: baseline;
}

/* common */
.w_100 {
  width: 100%;
}
.info {
  font-size: 4vw;
  margin-top: 47.5px;
}
.wrap {
  padding: 0 40px;
}
.section {
  &:not(:first-child) {
    margin-top: 50px;
  }
}
.product__title {
  margin: 0 auto;
  &.coat {
    width: 50.26%;
  }
  &.jacket {
  }
  &.formal {
  }
  &.genderless {
  }
  &.casual {
  }
  img {
    width: 100%;
  }
}
.section_h3 {
  font-size: 4.5vw;
  line-height: 1.5;
  font-weight: 900;
  text-align: center;
}
.section__txt {
  padding: 0 38px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.5px;
  text-align: justify;
  font-size: 4vw;
  transform: rotate(0.04deg);
  -webkit-transform: rotate(0.04deg);
  -moz-transform: rotate(0.04deg);
  -ms-transform: rotate(0.04deg);
  -o-transform: rotate(0.04deg);
}
.section__product--anchor {
  position: relative;
}

.section4 {
  padding-bottom: 32.5px;
  background: #ebe9e9;
  .section__txt {
    &.one {
      margin: 50px 0 40px;
    }
  }
  .info {
    margin-top: 70px;
  }
}

.product {
  &__info {
  }
  &__gender {
    width: 30px;
  }
  &__name {
    margin-top: 3px;
    font-size: 4vw;
    font-weight: 900;
    color: #000;
    letter-spacing: -0.7px;
  }
}
.section__product--anchor {
}

/* 230313 setup */

.product {
  &:not(:first-of-type) {
    margin-top: 15vw;
  }
  &__title {
    img {
      width: 100%;
    }
  }
  &__list {
    margin-top: 8vw;
    display: flex;
    list-style: none;
  }
  &__item {
    img {
      width: 100%;
      display: block;
    }
  }
}

.product1 {
  .product__title {
    width: 50.4vw;
  }
  .product {
    &__item {
      width: 50%;
    }
  }
}

.product2 {
  .product__title {
    width: 50.4vw;
  }
  .product {
    &__item {
      width: 100%;
    }
  }
}
.product3 {
  .product__title {
    width: 50.4vw;
  }
  .product {
    &__item {
      &:nth-child(1) {
        width: 51.83%;
      }
      &:nth-child(2) {
        width: 48.17%;
      }
    }
  }
}

.product_more {
  background: #ebe9e9;
  display: block;
  padding-bottom: 30vw;
  padding: 20vw 0 25vw;
  margin-top: -2px;
}
.product_more_btn {
  color: #000;
  border: 1px solid #000;
  text-decoration: none;
  height: 60px;
  font-size: 4.2vw;
  letter-spacing: -1px;
  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  line-height: 1;
}
