/*-------------------------------------------------
Style Sheet
Version : 1.0
Author :  BMN
Create date : 2020. 12. 07
-------------------------------------------------*/
.page__form--wrap {
	padding: 18px 0;
	border-top: 2px solid #000;
	border-bottom: 2px solid #000;
}
.upload__title {
	width: 150px;
}
.upload__list {
	margin: 18px 0;
}
.upload__list li {
	border: none;
	margin-top: 20px;
	padding: 0;
}
.upload__list li:first-child {
	margin-top: 0;
}

.modal__content {
	height: 100%;
	overflow-y: auto;
	font-size: 14px;
}
.modal__title {
	font-size: 24px;
}
.modal__content--title {
	font-size: 20px;
	margin-bottom: 15px;
}
.modal__content--box {
	margin-top: 30px;
}
.modal__content--box:first-child {
	margin-top: 0;
}
.modal__content--subtitle {
	font-size: 18px;
	margin-bottom: 10px;
}
[class^="info__list--depth"] {
	padding-left: 20px;
}
[class^="info__list--depth"] li:first-child {
	margin-top: 0;
}
[class^="info__list--depth"] li {
	font-size: 14px;
	margin-top: 10px;
}
.info__list--depth1 {
	list-style-type: decimal;
}
.info__list--depth2 {
	list-style-type: upper-alpha;
}
.info__list--depth3 {
	list-style-type: disc;
}
@media screen and (max-width: 991px) {
}
