@charset "UTF-8";
/* 나눔스퀘어 */
@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");
/* 강원교육모두 폰트 */
@font-face {
  font-family: "GangwonEduAll";
  font-weight: 300;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllLight.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllLight.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllLight.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllLight.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllLight.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "GangwonEduAll";
  font-weight: 400;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllBold.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllBold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllBold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllBold.ttf") format("truetype");
  font-display: swap;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 4.4vw;
  font-family: "GangwonEduAll", "nanumsquare", "Nanum Gothic", "Roboto", sans-serif;
  vertical-align: baseline;
  letter-spacing: -0.5px;
  line-height: 1.4;
}

img {
  display: block;
}

/* common */
.w_100 {
  width: 100%;
}

.block {
  display: block;
}

.wrap {
  padding: 0 6vw;
}

/* 230310 프린트블라우스 */
.section {
  position: relative;
}

.section__txt {
  color: #272727;
  font-weight: 300;
  transform: rotate(0.04deg);
  -webkit-transform: rotate(0.04deg);
  -moz-transform: rotate(0.04deg);
  -ms-transform: rotate(0.04deg);
  -o-transform: rotate(0.04deg);
}
.section__txt p:not(:first-child) {
  margin-top: 4vw;
}

.section1 img {
  display: block;
}

.section2 {
  background: url("https://simage-kr.uniqlo.com/display/corner/2161/adef_print_230314/print_img_1.png") no-repeat left top;
  background-size: 38vw;
  padding: 0 0 11.5vw;
}
.section2 .section_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 38vw;
}
.section2 .section__txt {
  text-align: right;
}
.section2 .bg_0 {
  position: absolute;
  width: 42.53vw;
  left: 8vw;
  bottom: -4vw;
  z-index: 1;
}
.section2 .deco_0 {
  width: 6.8vw;
  position: absolute;
  top: -3vw;
}

.section3 {
  padding: 0 0 71.5vw;
  background: url("https://simage-kr.uniqlo.com/display/corner/2161/adef_print_230314/print_deco_0.png") no-repeat bottom left;
  background-size: 85.86vw;
}
.section3 .deco_0,
.section3 .deco_1 {
  position: absolute;
}
.section3 .deco_0 {
  top: 21.5vw;
  right: 0;
  width: 37.46vw;
}
.section3 .deco_1 {
  width: 100vw;
  left: 0;
  bottom: -10.52vw;
}

.section4 {
  padding: 12.15vw 0 20vw;
}
.section4 .section__txt {
  text-align: right;
}

.section5 img {
  width: 100%;
}

.section6 {
  padding: 21.15vw 0 78.66vw;
  background: url("https://simage-kr.uniqlo.com/display/corner/2161/adef_print_230314/print_deco_1.png") no-repeat left bottom 6.66vw;
  background-size: 100vw;
}
.section6 .section__txt {
  text-align: center;
}

.section7 {
  padding: 18.33vw 0;
  background: url("https://publish.adef.co.kr/uniqlo_img/230310_print/section_img4.png") no-repeat center center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section7 .section__txt {
  text-align: center;
  margin-top: -3.5vw;
}

.section8 {
  padding: 14.8vw 0 0;
}
.section8 .section__txt {
  text-align: center;
}
.section8 .bg_0 {
  margin-top: 11.28vw;
  width: 100%;
}

.more_content {
  display: flex;
  padding: 13.5px 0 12.5px;
  background: #3b3b3b;
  font-family: "nanumsquare";
  color: #fff;
  font-size: 4vw;
  align-items: center;
  justify-content: center;
}
.more_content img {
  margin-right: 10px;
  width: 6vw;
}/*# sourceMappingURL=index.css.map */