/*-------------------------------------------------
Style Sheet
Version : 1.0
Author :  BMN
Create date : 2020. 12. 07
-------------------------------------------------*/
.img__wrap {
	background: #ffffff;
}
.img__wrap img {
	width: 100%;
}
.w_250 {
	width: 25rem;
}

.hidden__form {
	display: none;
}
.kakao .form__input--layout input:first-child {
	margin-left: 0;
}
.campain__box1 {
	width: 100%;
	justify-content: space-between;
}
.campain__select--box {
	display: flex;
	align-items: center;
}
.campain__select {
	width: 25rem;
}
.campain__wrap {
	padding: 1.8rem 0 0 0;
	border-top: 2px solid #000;
}
.campain__wrap:first-of-type {
	padding: 1.8rem 0;
}
.campain__wrap.border {
	border-bottom: 2px solid #000;
}
.campain__renewal--box {
	display: flex;
	align-items: center;
}
.campain__renewal--box p {
	font-size: 1.3rem;
}
.info__list {
	margin-top: 1.5rem;
}
.campain__inner:not(:first-child) {
	margin-top: 4rem;
}
.material__btn--box {
	padding-left: 72px;
	margin-top: 1rem;
}
.reservation__form {
	display: flex;
}
.reservation__table--wrap {
	border-top: none;
}
.campain__btn--wrap {
	width: 112rem;
}
.campain__btn--wrap {
	display: flex;
}
.campain__btn--wrap button {
	font-size: 13px;
}
.campain__table--input {
	display: block;
	margin: 5px auto 0;
	height: 30px;
}
.campain__anchor--btn,
.campain__button {
	font-size: 14px;
}
.campain__button {
	background: #ddd;
	border: 1px solid #eee;
	padding: 5px;
	border-radius: 5px;
}
.campain__button:hover {
	background: #ccc;
}
.campain__btn--wrap button {
	position: relative;
}
.campain__btn--wrap button .tooltip {
	position: absolute;
	z-index: 2;
	display: none;
	padding: 10px;
	left: 0;
	top: 50px;
	width: 300px;
	font-size: 13px;
	text-align: left;
	background: #666;
	border-radius: 5px;
}
.modal__container {
	position: absolute;
	width: 95%;
	max-width: 710px;
	max-height: 100%;
	background-color: f0efef;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	overflow: hidden;
	border: 1px solid #0e0e0e;
}
.modal__content--wrap {
	position: relative;
	display: flex;
	align-items: center;
}
.modal__content--wrap:not(:first-of-type) {
	margin-top: 10px;
}
.modal__kakao .modal__header {
	justify-content: space-between;
	color: #fff;
	font-size: 20px;
}
.modal__kakao select.onoff {
	width: 100%;
}
.w__100--per {
	width: 100%;
}
@media screen and (max-width: 991px) {
	.modal__wrap .btn__wrap {
		display: flex !important;
	}
	.modal__content--wrap {
		display: block;
	}
	.campain__btn--wrap {
		display: block;
		width: 100%;
	}
	.campain__renewal--box {
		margin-top: 1rem;
	}
	.campain__inner:not(:first-child) {
		margin-top: 2.5rem;
		padding-bottom: 0;
	}
	.material__btn--box {
		padding-left: 0;
	}
	.reservation__form {
		display: block;
	}
}
