.mobile_none {
  display: none !important;
}
.mobile_block {
  display: block !important;
}
.mobile_flex {
  display: flex !important;
}
.wrap {
  padding: 0 7.5vw;
}
.visual {
  position: relative;
  height: 168.28vw;
  background: url('../image/mobile/visual_bg.png') no-repeat left top / cover;
  &__deco {
    position: absolute;
    &.one {
      width: 22.65vw;
      bottom: -6vw;
    }
    &.two {
      width: 20.46vw;
      right: 0;
      bottom: -10.625vw;
    }
    &.three {
    }
  }
}
.section {
  &1 {
    padding: 9.375vw 0 6.25vw;
    background: url('../image/mobile/ice_bg.png') no-repeat left top / cover;
  }
}
.coffee {
  &__box {
    display: block;
    position: relative;
    padding: 6.71vw 0 10.15vw;
    text-align: center;
    background: #7d57f0;
    border-radius: 3dvw;
    .img_txt_coupon {
      width: 44.68vw;
    }
    .img_coffee {
      margin-top: 3.9vw;
      width: 47.5vw;
    }
    .coffee__direct {
      width: 100%;
      background: #2b056a;
      height: 10.15vw;
      position: absolute;
      bottom: 0;
      left: 0;
      border-radius: 0 0 3vw 3vw;
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 4.5vw;
      font-weight: 900;
      img {
        width: 1.8vw;
        margin-left: 2vw;
      }
    }
  }
  &__top {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -4vw;
    width: 41vw;
    text-align: center;
    padding: 1.25vw 0vw;
    display: inline-block;
    border: 2px solid #fff;
    border-radius: 50px;
    font-size: 3.82vw;
    font-weight: 900;
    color: #fff;
    background: #5f45d6;
  }
}
// 태블릿 / PC
// @include pc {
//   .mobile_none {
//     display: block !important;
//   }
//   .mobile_block {
//     display: none !important;
//   }
//   .mobile_flex {
//     display: none !important;
//   }
// }
