/*-------------------------------------------------
Style Sheet
Version : 1.0
Author :  BMN
Create date : 2020. 12. 07
-------------------------------------------------*/
.modal__content {
	text-align: center;
	overflow-y: auto;
}
.modal__content {
	overflow-y: auto;
	height: 100%;
}
.modal__content img {
	width: 100%;
	margin: 0 auto;
}
