@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap");
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
  font-family: 'Roboto', 'NanumBarunGothic', sans-serif;
  font-weight: 400; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul,
li {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@keyframes highlight {
  0% {
    width: 0; }
  100% {
    width: 100%; } }
@keyframes btnScale {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1); }
  50% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05); }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1); } }
.bold {
  font-weight: bold; }

.inner {
  position: relative;
  margin: 0 auto;
  width: 1000px;
  box-sizing: border-box; }

.blind {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  text-indent: -9999em; }

/* 웹폰트 */
/* 나눔고딕 */
/* 나눔바른고딕 */
@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf") format("truetype"); }
@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 700;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf") format("truetype"); }
@font-face {
  font-family: "NanumBarunGothic";
  font-style: normal;
  font-weight: 300;
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot");
  src: url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix") format("embedded-opentype"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff") format("woff"), url("//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf") format("truetype"); }
.highlight {
  position: relative;
  display: inline-block; }
  .highlight.active::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 28px;
    bottom: 0;
    background: #f8bc99;
    z-index: -1;
    animation: highlight 0.6s cubic-bezier(0.17, 0.67, 0.83, 0.67);
    -webkit-animation: highlight 0.6s cubic-bezier(0.17, 0.67, 0.83, 0.67); }

.main__section {
  position: relative;
  z-index: -2;
  padding: 130px 0; }

.section__title {
  display: flex;
  justify-content: center; }

.visual {
  padding: 55px 0 0px;
  background: url("../images/bg.png") no-repeat;
  background-size: cover;
  overflow: hidden; }
  .visual .inner {
    padding-bottom: 65px; }
  .visual__top {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .visual__content {
    margin-top: 95px; }
  .visual__anchor {
    margin-top: 45px;
    display: block;
    width: 545px;
    background: #ffec58;
    text-align: center;
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    box-shadow: 5px 5px 0 0 #974a17; }
    .visual__anchor a {
      padding: 40px;
      display: block;
      width: 100%;
      height: 100%;
      animation: 0.7s btnScale 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67) 2;
      -webkit-animation: 0.7s btnScale 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67) 2; }
  .visual__box2 {
    position: absolute;
    right: -82px;
    bottom: -5px; }

.banner {
  background: #fdf4e4; }
  .banner .inner {
    padding: 30px; }

.sunshine {
  padding-left: 70px;
  padding-right: 70px; }
  .sunshine__title--txt1 {
    margin-right: 20px; }
  .sunshine__list {
    margin: 60px 0 0 175px; }

.target {
  background: #f0f0f0;
  padding-left: 60px;
  padding-right: 60px; }
  .target__list {
    margin-top: 65px;
    text-align: center; }

.info {
  padding-left: 35px;
  padding-right: 35px;
  background: #fdf4e4; }
  .info__title {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .info__title--txt2 {
    margin-top: 35px; }
  .info__content {
    margin: 85px auto 0;
    padding: 105px 0px;
    background: #ffffff; }
  .info__content--title {
    text-align: center; }
  .info__list {
    margin-top: 35px; }
  .info__item {
    display: flex;
    align-items: flex-start; }
    .info__item:not(:first-child) {
      margin-top: 17px; }
    .info__item .small {
      font-size: 18px; }
  .info__item--title {
    flex-shrink: 0; }
  .info__item--content {
    margin-top: 2px;
    margin-left: 20px;
    font-size: 22px;
    line-height: 1.4; }
  .info__sub--list {
    margin-top: 15px; }
  .info__sub--item {
    position: relative;
    padding-left: 10px;
    font-size: 18px; }
    .info__sub--item::before {
      content: '';
      display: block;
      position: absolute;
      width: 3px;
      height: 3px;
      border-radius: 100rem;
      -webkit-border-radius: 100rem;
      -moz-border-radius: 100rem;
      -ms-border-radius: 100rem;
      -o-border-radius: 100rem;
      background: #000;
      left: 0;
      top: 13px; }
  .info [class^='info__box'] {
    padding: 0 110px; }
    .info [class^='info__box']:not(:first-child) {
      margin-top: 110px; }
  .info .info__box2 {
    border-bottom: 1px solid #b2b2b2;
    padding-bottom: 130px; }
  .info__box3 .info__content--title {
    text-align: left; }

.notice__list {
  margin-top: 30px; }
.notice__item {
  font-size: 21px;
  line-height: 1.5;
  margin-top: 15px; }

.footer {
  margin-bottom: 104px;
  background: #545458;
  padding: 35px 0px; }
  .footer__list {
    margin-top: 40px; }
  .footer__item {
    font-family: 'Nanum Gothic';
    font-size: 16px;
    color: #ededed;
    margin-top: 5px;
    line-height: 1.5; }
    .footer__item a:link {
      color: #ededed;
      text-decoration: none; }
    .footer__item a:visited {
      color: #ededed;
      text-decoration: none; }
    .footer__item a:hover {
      color: #ededed;
      text-decoration: underline; }

.inquiry {
  display: none;
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #f16829;
  padding: 8px 27px 8px 8px;
  height: 104px; }
  .inquiry__anchor {
    display: flex;
    align-items: center;
    justify-content: space-between; }
  .inquiry__box {
    width: calc(100% - 88px);
    height: 86px;
    padding: 23px;
    background: #fff;
    text-align: center;
    box-shadow: inset 0 2px #fdf4e4; }

/*# sourceMappingURL=index.css.map */
