.footer {
  padding: 55px 0;
  background: #222222;
  &__row {
    &.one {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    &.two {
      margin-top: 90px;
    }
  }
  &_sns__list {
    display: flex;
  }
  &_sns__item {
    &:not(:last-child) {
      margin-right: 5px;
    }
  }
  &_sns__anchor {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #ffffff;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
  }
  &__copyright {
    font-size: 10px;
    color: #ffffff;
    transform: rotate(0.04deg);
    -webkit-transform: rotate(0.04deg);
    -moz-transform: rotate(0.04deg);
    -ms-transform: rotate(0.04deg);
    -o-transform: rotate(0.04deg);
  }
}

// modal
.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 30;
  top: 0;
  left: 0;
  &__bg {
    background: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    position: fixed;
  }
  &__content {
    position: absolute;
    top: 0;
    left: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    box-sizing: border-box;
  }
  &__btn {
    background: none;
    border: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    &.prev {
      left: -120px;
    }
    &.next {
      right: -120px;
    }
    &:disabled {
      opacity: 0.3;
    }
  }

  &__close {
    position: absolute;
    right: 5vw;
    top: 60px;
    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -ms-border-radius: 5px;
      -o-border-radius: 5px;
      left: 0;
      transition: all 0.3s;
      -webkit-transition: 0.3 all;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      -webkit-transition: all 0.3s;
      top: 50%;
      width: 32px;
      height: 2px;
      background: #fff;
    }
    &::before {
      transform: translateY(-50%) rotate(45deg);
      -webkit-transform: translateY(-50%) rotate(45deg);
      -moz-transform: translateY(-50%) rotate(45deg);
      -ms-transform: translateY(-50%) rotate(45deg);
      -o-transform: translateY(-50%) rotate(45deg);
    }
    &::after {
      transform: translateY(-50%) rotate(-45deg);
      -webkit-transform: translateY(-50%) rotate(-45deg);
      -moz-transform: translateY(-50%) rotate(-45deg);
      -ms-transform: translateY(-50%) rotate(-45deg);
      -o-transform: translateY(-50%) rotate(-45deg);
    }
  }
  &__material {
    width: 80vw;
    background: #000;
  }
}

@media (max-width: 1080px) {
  .modal {
    &__close {
      right: 50px;
    }
    &__btn--box {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100px;
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
    }
    &__btn {
      width: 6vw;
      padding: 0;
      img {
        width: 100%;
      }
      &.prev {
        left: -7.5vw;
      }
      &.next {
        right: -7.5vw;
      }
    }
  }
}
