@charset "UTF-8";
/* font */
/*
  나눔스퀘어  [NanumSquare]
  Light 300
  Regular 400 (default)
  Bold 700
  ExtraBold 800
*/
@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");
/*
  [Noto Sans]
  Thin 100
  ExtraLight 200
  Light 300
  Regular 400
  Medium 500 (default)
  SemiBold 600
  Bold 700
  ExtraBold 800
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* 
  애플 산돌고딕 [Apple SD Gothic Neo]
  Thin 100
  UltraLight 200
  Light 300
  Medium 400
  Regular 500 
  SemiBold 600 (default)
  Bold 700
  ExtraBold 800
  Heavy 900
*/
@import url("https://cdn.jsdelivr.net/npm/font-applesdgothicneo@1.0.3/css/all.css");
/* 강원교육모두 [GangwonEduAll] 300/400 */
@font-face {
  font-family: "GangwonEduAll";
  font-weight: 300;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllLight.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllLight.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllLight.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllLight.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllLight.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "GangwonEduAll";
  font-weight: 400;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllBold.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllBold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllBold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllBold.ttf") format("truetype");
  font-display: swap;
}
/* reset */
.adef_webzine div,
.adef_webzine span,
.adef_webzine applet,
.adef_webzine object,
.adef_webzine iframe,
.adef_webzine h1,
.adef_webzine h2,
.adef_webzine h3,
.adef_webzine h4,
.adef_webzine h5,
.adef_webzine h6,
.adef_webzine p,
.adef_webzine blockquote,
.adef_webzine pre,
.adef_webzine a,
.adef_webzine abbr,
.adef_webzine acronym,
.adef_webzine address,
.adef_webzine big,
.adef_webzine cite,
.adef_webzine code,
.adef_webzine del,
.adef_webzine dfn,
.adef_webzine em,
.adef_webzine img,
.adef_webzine ins,
.adef_webzine kbd,
.adef_webzine q,
.adef_webzine s,
.adef_webzine samp,
.adef_webzine small,
.adef_webzine strike,
.adef_webzine strong,
.adef_webzine sub,
.adef_webzine sup,
.adef_webzine tt,
.adef_webzine var,
.adef_webzine b,
.adef_webzine u,
.adef_webzine i,
.adef_webzine center,
.adef_webzine dl,
.adef_webzine dt,
.adef_webzine dd,
.adef_webzine ol,
.adef_webzine ul,
.adef_webzine li,
.adef_webzine fieldset,
.adef_webzine form,
.adef_webzine label,
.adef_webzine legend,
.adef_webzine table,
.adef_webzine caption,
.adef_webzine tbody,
.adef_webzine tfoot,
.adef_webzine thead,
.adef_webzine tr,
.adef_webzine th,
.adef_webzine td,
.adef_webzine article,
.adef_webzine aside,
.adef_webzine canvas,
.adef_webzine details,
.adef_webzine embed,
.adef_webzine figure,
.adef_webzine figcaption,
.adef_webzine footer,
.adef_webzine header,
.adef_webzine hgroup,
.adef_webzine menu,
.adef_webzine nav,
.adef_webzine output,
.adef_webzine ruby,
.adef_webzine section,
.adef_webzine summary,
.adef_webzine time,
.adef_webzine mark,
.adef_webzine audio,
.adef_webzine video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: "Noto Sans", "NanumSquare", "Noto Sans KR", "Nanum Gothic", "Roboto", sans-serif;
  font-weight: 700;
  font-size: 3.5vw;
  line-height: 1.7;
  letter-spacing: 0px;
  color: #1c332b;
  vertical-align: baseline;
}
.adef_webzine article,
.adef_webzine aside,
.adef_webzine details,
.adef_webzine figcaption,
.adef_webzine figure,
.adef_webzine footer,
.adef_webzine header,
.adef_webzine hgroup,
.adef_webzine menu,
.adef_webzine nav,
.adef_webzine section {
  display: block;
}
.adef_webzine ol,
.adef_webzine ul {
  list-style: none;
  padding: 0;
}
.adef_webzine blockquote,
.adef_webzine q {
  quotes: none;
}
.adef_webzine blockquote:before,
.adef_webzine blockquote:after,
.adef_webzine q:before,
.adef_webzine q:after {
  content: "";
  content: none;
}
.adef_webzine table {
  border-collapse: collapse;
  border-spacing: 0;
}
.adef_webzine button {
  border: none;
  background: none;
  cursor: pointer;
}
.adef_webzine a {
  text-decoration: none;
}

/* common */
.adef_webzine .wrap {
  padding: 0 10vw;
}
.adef_webzine img {
  width: 100%;
  display: block;
}
.adef_webzine .bold {
  font-weight: 900;
}
.adef_webzine .section {
  position: relative;
}
.adef_webzine .buy__anchor,
.adef_webzine .info {
  position: relative;
  transform: rotate(0.04deg);
  -webkit-transform: rotate(0.04deg);
  -moz-transform: rotate(0.04deg);
  -ms-transform: rotate(0.04deg);
  -o-transform: rotate(0.04deg);
}
.adef_webzine .buy__anchor {
  padding: 1.5vw 0;
  display: inline-block;
  text-decoration: underline;
  color: #000;
  font-weight: 900;
}
.adef_webzine .buy__anchor--wrap {
  text-align: center;
}
.adef_webzine .info {
  margin-top: 20vw;
}
.adef_webzine .section__txt {
  vertical-align: baseline;
  text-align: justify;
  transform: rotate(0.04deg);
  -webkit-transform: rotate(0.04deg);
  -moz-transform: rotate(0.04deg);
  -ms-transform: rotate(0.04deg);
  -o-transform: rotate(0.04deg);
}
.adef_webzine .section__txt p:not(:first-child) {
  margin-top: 4vw;
}

/* 유니클로_bag_230328 */
.adef_webzine .section1 {
  background: url("https://simage-kr.uniqlo.com/display/corner/2161/adef_230410_pajama/pajama_230410_bg2.png");
  background-size: 100%;
  padding: 17vw 0;
  position: relative;
  z-index: 5;
}
.adef_webzine .section1::after, .adef_webzine .section1::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
}
.adef_webzine .section1::before {
  height: 17.73vw;
  background: url("https://simage-kr.uniqlo.com/display/corner/2161/adef_230410_pajama/pajama_230410_bg1.png") no-repeat;
  background-size: 100%;
  top: -15vw;
}
.adef_webzine .section1::after {
  height: 22.4vw;
  background: url("https://simage-kr.uniqlo.com/display/corner/2161/adef_230410_pajama/pajama_230410_bg3.png");
  background-size: 100%;
  bottom: -17vw;
}
.adef_webzine .howto .title__num {
  display: flex;
}
.adef_webzine .howto .title {
  display: flex;
  box-sizing: border-box;
  font-weight: 800;
  font-size: 3.92vw;
  line-height: 1.45;
}
.adef_webzine .howto.one .title__num {
  justify-content: center;
}
.adef_webzine .howto.one .title {
  width: 88vw;
  height: 23.2vw;
  margin-bottom: 2.5vw;
  padding-left: 19vw;
  padding-bottom: 1.8vw;
  background: url("https://simage-kr.uniqlo.com/display/corner/2161/adef_230410_pajama/pajama_230410_title1.png") no-repeat;
  align-items: flex-end;
  transform: translateX(-1vw);
  -webkit-transform: translateX(-1vw);
  -moz-transform: translateX(-1vw);
  -ms-transform: translateX(-1vw);
  -o-transform: translateX(-1vw);
  background-size: cover;
}
.adef_webzine .howto.two .title__num {
  margin-top: 17vw;
  justify-content: flex-start;
}
.adef_webzine .howto.two .title {
  width: 92.8vw;
  height: 27.46vw;
  margin-bottom: 0vw;
  padding-right: 17.5vw;
  padding-bottom: 6vw;
  background: url("https://simage-kr.uniqlo.com/display/corner/2161/adef_230410_pajama/pajama_230410_title2.png") no-repeat;
  align-items: flex-end;
  justify-content: flex-end;
  background-size: cover;
}
.adef_webzine .howto.two .section__txt {
  text-align: right;
  word-break: keep-all;
  padding-left: 7vw;
  margin-top: -1.5vw;
}
.adef_webzine .howto.three .title__num {
  margin-top: 17vw;
  justify-content: flex-end;
}
.adef_webzine .howto.three .title {
  width: 95.2vw;
  height: 27.2vw;
  margin-bottom: 0vw;
  padding-left: 20vw;
  padding-bottom: 5.8vw;
  background: url("https://simage-kr.uniqlo.com/display/corner/2161/adef_230410_pajama/pajama_230410_title3.png") no-repeat;
  align-items: flex-end;
  justify-content: flex-start;
  background-size: 100%;
}
.adef_webzine .howto.three .section__txt {
  margin-top: -1vw;
}
.adef_webzine .howto.four .title__num {
  margin-top: 16vw;
  justify-content: flex-start;
}
.adef_webzine .howto.four .title {
  width: 93.5vw;
  height: 34.13vw;
  margin-bottom: 0vw;
  padding-right: 17.5vw;
  padding-bottom: 10.4vw;
  background: url("https://simage-kr.uniqlo.com/display/corner/2161/adef_230410_pajama/pajama_230410_title4.png") no-repeat;
  align-items: flex-end;
  justify-content: flex-end;
  background-size: cover;
}
.adef_webzine .howto.four .section__txt {
  text-align: right;
  word-break: keep-all;
  padding-left: 7vw;
  margin-top: -5vw;
}
.adef_webzine .howto.five .title__num {
  margin-top: 18.5vw;
  justify-content: flex-end;
}
.adef_webzine .howto.five .title {
  width: 95.2vw;
  height: 41.33vw;
  margin-bottom: 0vw;
  padding-left: 20vw;
  padding-bottom: 19.8vw;
  background: url("https://simage-kr.uniqlo.com/display/corner/2161/adef_230410_pajama/pajama_230410_title5.png") no-repeat;
  align-items: flex-end;
  justify-content: flex-start;
  background-size: 100%;
}
.adef_webzine .howto.five .section__txt {
  margin-top: -14vw;
}
.adef_webzine .pajama {
  box-sizing: border-box;
}
.adef_webzine .pajama__title {
  font-size: 4.75vw;
  font-weight: 800;
  margin-top: -0.6vw;
}
.adef_webzine .pajama__subtitle {
  font-weight: 400;
  color: #1c332b;
}
.adef_webzine .pajama.one {
  padding: 17vw 0 0;
  height: 148vw;
  background: url("https://simage-kr.uniqlo.com/display/corner/2161/adef_230410_pajama/pajama_230410_bg5.png") no-repeat;
  background-size: 100%;
}
.adef_webzine .pajama.one .pajama__title--box {
  margin-top: 1vw;
}
.adef_webzine .pajama.one .pajama__subtitle,
.adef_webzine .pajama.one .pajama__title {
  text-align: center;
}
.adef_webzine .pajama.one .pajama__title {
  color: #5c237d;
}
.adef_webzine .pajama.one .section__txt {
  margin-top: 3vw;
  text-align: center;
}
.adef_webzine .pajama.two {
  margin-top: -2vw;
  padding: 24vw 0 0 7vw;
  height: 126vw;
  background: url("https://simage-kr.uniqlo.com/display/corner/2161/adef_230410_pajama/pajama_230410_bg6.png") no-repeat;
  background-size: 100%;
}
.adef_webzine .pajama.two .pajama__title--box {
  margin-top: 1vw;
}
.adef_webzine .pajama.two .pajama__title {
  color: #22438a;
}
.adef_webzine .pajama.two .section__txt {
  margin-top: 3vw;
}
.adef_webzine .section2 {
  padding: 20vw 0 0;
  background: url("https://simage-kr.uniqlo.com/display/corner/2161/adef_230410_pajama/pajama_230410_bg4.png");
}
.adef_webzine .section2__title {
  width: 70.26vw;
  margin: 11vw auto 0;
}
.adef_webzine .section2::after {
  content: "";
  display: block;
  width: 100%;
  background: url("https://simage-kr.uniqlo.com/display/corner/2161/adef_230410_pajama/");
}
.adef_webzine .section3 {
  padding: 30vw 0 13.2vw;
  background: url("https://simage-kr.uniqlo.com/display/corner/2161/adef_230410_pajama/pajama_230410_bg7.png") no-repeat;
  background-size: cover;
}
.adef_webzine .section3__ic {
  width: 4.26vw;
  margin: 0 auto;
}
.adef_webzine .section3 .section__txt.one {
  margin: 5.8vw 0 8.5vw;
  text-align: center;
  color: #1c332b;
}
.adef_webzine .section3 .pajama__info--bg {
  width: 100%;
  height: 166vw;
  background: #fff;
  position: absolute;
  opacity: 0.75;
  z-index: 1;
  top: 0;
  left: 0;
}
.adef_webzine .section3 .pajama__info {
  position: relative;
  z-index: 5;
}
.adef_webzine .section3 .pajama__info--wrap {
  width: 95vw;
  padding: 12.65vw 0 18vw;
  margin: 0 auto;
  text-align: center;
  position: relative;
}
.adef_webzine .section3 .pajama__info--title {
  display: flex;
  justify-content: center;
  color: #1c332b;
}
.adef_webzine .section3 .pajama__info--title:not(:first-of-type) {
  margin-top: 14vw;
}
.adef_webzine .section3 .pajama__info--num {
  color: #1c332b;
  margin-right: 2vw;
  margin-top: 0.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5vw;
  height: 5vw;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  background: #d4d9dc;
}
.adef_webzine .section3 .pajama__info--content {
  margin-top: 2vw;
}
.adef_webzine .section4 {
  padding-top: 12.65vw;
  margin-bottom: 14vw;
}
.adef_webzine .section4__title {
  font-family: Uniqlo Pro Light, NanumSquare Regular, Roboto, Droid Sans, Helvetica Neue, HiraKakuProN-W3, sans-serif;
  font-size: 6vw;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.adef_webzine .section4__title img {
  margin-top: -1vw;
  width: 43.73vw;
}
.adef_webzine .section4 .ic_gender {
  margin: 4.5vw 0 0;
  width: 10.26vw;
}
.adef_webzine .section4 .pajama__list {
  display: flex;
  width: 95vw;
  margin: 13vw auto 0;
}
.adef_webzine .section4 .pajama__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33.33vw;
}
.adef_webzine .section4 .pajama__item--img {
  height: 37vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.adef_webzine .section4 .pajama__item--img.one img {
  width: 25.2vw;
}
.adef_webzine .section4 .pajama__item--img.two img {
  width: 24.5vw;
}
.adef_webzine .section4 .pajama__item--img.three img {
  width: 26.66vw;
}
.adef_webzine .section4 .pajama__item--name {
  font-size: 3.25vw;
  font-weight: 800;
  line-height: 1.1;
  margin-top: 1.3vw;
}/*# sourceMappingURL=index.css.map */