
.bold {
	font-weight: bold;
}

.inner {
	position: relative;
	margin: 0 auto;
	width: 1000px;
	box-sizing: border-box;
}

.none {
    display: none;
}
.blind {
	position: absolute;
	top: -9999px;
	left: -9999px;
	width: 1px;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	text-indent: -9999em;
}