@charset "UTF-8";
html {
	overflow-x: hidden;
}
.none {
	display: none!important;
}
.section:not(:first-child) {
	margin-top: 100px;
}

.visual .inner {
	position: relative;
}
.visual__header {
	padding-top: 50px;
	display: flex;
	justify-content: space-between;
}
.visual__header--tel {
	display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.visual__header--num {
	color: #fff;
	font-weight: 700;
	font-size: 24px;
	display: inline-block;
	margin-left: 8px;
	font-family: "noto sans kr","NanumBarunGothic", sans-serif
	
}
.visual__content {
	margin-top: 80px;
}
.visual__bg {
	position: absolute;
	top: 0;
	z-index: -1;
	right: -460px;
}
.visual__btn {
	margin-top: 30px;
	padding: 28px 40px;
	border-radius: 5px;
	background: #e10317;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.visual__btn img {
	animation: 0.7s btnScale 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67) 2;
	-webkit-animation: 0.7s btnScale 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67) 2;
}

.advantage__title {
	text-align: center;
}
.advantage__content {
	margin-top: 55px;
	text-align: center;
}
.advantage__info {
	text-align: center;
	margin-top: 25px;
}

.txt__nowrap {
	white-space: nowrap;
}

.info {
	padding: 50px 0;
	background: #ededed;
	font-family: "Nanum Gothic", sans-serif;
}
.info .inner {
	width: 770px;
}
.info__title {
	font-weight: 700;
	color: #666666;
	font-size: 22px;
	font-weight: 700;
}
.info__content {
	margin-top: 40px;
}
.info__table--tr {
	display: flex;
	align-items: baseline;
}
.info__table--thead {
	display: flex;
	align-items: center;
	font-size: 18px;
	font-weight: 700;
	color: #666;
	text-align: left;
	padding: 15px 0;
}
.info__table--thead.row1 {
	width: 105px;
}
.info__table--thead.row3 {
	width: 155px;
}
.info__table--tbody {
	display: block;
	font-size: 18px;
	color: #666;
	padding: 15px 0;
	line-height: 1.5;
}
.info__table--tbody.row2 {
	width: 330px;
}
.info__table--tbody.row4 {
	width: 180px;
}

.notice {
	padding: 55px 0 65px 0;
}
.notice .inner {
	width: 770px;
}
.notice__title {
	font-size: 15px;
}
.notice__item {
	font-size: 15px;
	position: relative;
	padding-left: 10px;
	color: #666;
	line-height: 1.5;
}
.notice__item::before {
	content: "·";
	display: block;
	position: absolute;
	left: 0;
	top: 0px;
}

.footer {
	padding: 30px 0;
	background: #666666;
	color: #ededed;
	font-size: 15px;
	margin-bottom: 100px;
}
.footer .inner {
	width: 770px;
}
.footer__detail:not(:first-child) {
	margin-top: 10px;
}

.floating {
	display: none;
	width: 100%;
	height: 100px;
	position: fixed;
	bottom: 0;
}
.floating__btn {
	background: #e10317;
	padding: 8px 8px;
	width: 100%;
}
.floating__box--txt {
	width: calc(100% - 100px);
	display: flex;
	align-items: center;
	justify-content: center;
	height: 87px;
	background: #fff;
}
.floating.active .floating__box--txt_img {
	animation: 0.7s btnScale 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67) 2;
	-webkit-animation: 0.7s btnScale 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67) 2;

}
.floating__icon--glass {
	position: absolute;
	right: 23px;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
}

@media (max-width: 800px) {
	.floating__box--txt img {
		width: 100%;
	}
}

/*# sourceMappingURL=index.css.map */
