.inner {
  position: relative;
  width: 900px;
  margin: 0 auto;

  box-sizing: border-box;
}
.red {
  color: #e10317;
}
// font
.thin {
  font-weight: 100;
}
.light {
  font-weight: 300;
}
.regular {
  font-weight: 400;
}
.medium {
  font-weight: 500;
}
.bold {
  font-weight: 700;
}
.eb {
  font-weight: 900;
}

// animation
@keyframes highlight {
  // ighlight 0.6s cubic-bezier(0.17, 0.67, 0.83, 0.67);
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}

@keyframes btnScale {
  // 0.7s btnScale 0.5s cubic-bezier(0.17, 0.67, 0.83, 0.67) 2;
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  50% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}

@keyframes arrowMove {
  // arrowMove 1s infinite;
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(3px);
  }
}
