@charset "UTF-8";
/* font */
/*
  나눔스퀘어  [NanumSquare]
  Light 300
  Regular 400 (default)
  Bold 700
  ExtraBold 800
*/
@import url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");
/*
  [Noto Sans]
  Thin 100
  ExtraLight 200
  Light 300
  Regular 400
  Medium 500 (default)
  SemiBold 600
  Bold 700
  ExtraBold 800
*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Noto+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* 
  애플 산돌고딕 [Apple SD Gothic Neo]
  Thin 100
  UltraLight 200
  Light 300
  Medium 400
  Regular 500 
  SemiBold 600 (default)
  Bold 700
  ExtraBold 800
  Heavy 900
*/
@import url("https://cdn.jsdelivr.net/npm/font-applesdgothicneo@1.0.3/css/all.css");
/* 강원교육모두 [GangwonEduAll] 300/400 */
@font-face {
  font-family: 'GangwonEduAll';
  font-weight: 300;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllLight.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllLight.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllLight.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllLight.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllLight.ttf") format("truetype");
  font-display: swap; }
@font-face {
  font-family: 'GangwonEduAll';
  font-weight: 400;
  font-style: normal;
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllBold.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllBold.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllBold.woff2") format("woff2"), url("https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllBold.woff") format("woff"), url("https://cdn.jsdelivr.net/gh/webfontworld/gangwon/GangwonEduAllBold.ttf") format("truetype");
  font-display: swap; }
/* reset */
.adef_webzine div,
.adef_webzine span,
.adef_webzine applet,
.adef_webzine object,
.adef_webzine iframe,
.adef_webzine h1,
.adef_webzine h2,
.adef_webzine h3,
.adef_webzine h4,
.adef_webzine h5,
.adef_webzine h6,
.adef_webzine p,
.adef_webzine blockquote,
.adef_webzine pre,
.adef_webzine a,
.adef_webzine abbr,
.adef_webzine acronym,
.adef_webzine address,
.adef_webzine big,
.adef_webzine cite,
.adef_webzine code,
.adef_webzine del,
.adef_webzine dfn,
.adef_webzine em,
.adef_webzine img,
.adef_webzine ins,
.adef_webzine kbd,
.adef_webzine q,
.adef_webzine s,
.adef_webzine samp,
.adef_webzine small,
.adef_webzine strike,
.adef_webzine strong,
.adef_webzine sub,
.adef_webzine sup,
.adef_webzine tt,
.adef_webzine var,
.adef_webzine b,
.adef_webzine u,
.adef_webzine i,
.adef_webzine center,
.adef_webzine dl,
.adef_webzine dt,
.adef_webzine dd,
.adef_webzine ol,
.adef_webzine ul,
.adef_webzine li,
.adef_webzine fieldset,
.adef_webzine form,
.adef_webzine label,
.adef_webzine legend,
.adef_webzine table,
.adef_webzine caption,
.adef_webzine tbody,
.adef_webzine tfoot,
.adef_webzine thead,
.adef_webzine tr,
.adef_webzine th,
.adef_webzine td,
.adef_webzine article,
.adef_webzine aside,
.adef_webzine canvas,
.adef_webzine details,
.adef_webzine embed,
.adef_webzine figure,
.adef_webzine figcaption,
.adef_webzine footer,
.adef_webzine header,
.adef_webzine hgroup,
.adef_webzine menu,
.adef_webzine nav,
.adef_webzine output,
.adef_webzine ruby,
.adef_webzine section,
.adef_webzine summary,
.adef_webzine time,
.adef_webzine mark,
.adef_webzine audio,
.adef_webzine video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: 'NanumSquare', 'Noto Sans', 'Noto Sans KR', 'Nanum Gothic', 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 3.6vw;
  line-height: 1.55;
  letter-spacing: -0.8px;
  color: #000000;
  vertical-align: baseline; }
.adef_webzine article,
.adef_webzine aside,
.adef_webzine details,
.adef_webzine figcaption,
.adef_webzine figure,
.adef_webzine footer,
.adef_webzine header,
.adef_webzine hgroup,
.adef_webzine menu,
.adef_webzine nav,
.adef_webzine section {
  display: block; }
.adef_webzine ol,
.adef_webzine ul {
  list-style: none;
  padding: 0; }
.adef_webzine blockquote,
.adef_webzine q {
  quotes: none; }
.adef_webzine blockquote:before,
.adef_webzine blockquote:after,
.adef_webzine q:before,
.adef_webzine q:after {
  content: '';
  content: none; }
.adef_webzine table {
  border-collapse: collapse;
  border-spacing: 0; }
.adef_webzine button {
  border: none;
  background: none;
  cursor: pointer; }
.adef_webzine a {
  text-decoration: none; }
.adef_webzine img {
  width: 100%;
  display: block; }

/* common */
.adef_webzine .wrap {
  padding: 0 9.33vw; }
.adef_webzine img {
  width: 100%;
  display: block; }
.adef_webzine .bold {
  font-weight: 700; }
.adef_webzine .section {
  position: relative; }
.adef_webzine .buy__anchor,
.adef_webzine .info {
  position: relative;
  transform: rotate(0.04deg);
  -webkit-transform: rotate(0.04deg);
  -moz-transform: rotate(0.04deg);
  -ms-transform: rotate(0.04deg);
  -o-transform: rotate(0.04deg); }
.adef_webzine .gray_info {
  font-size: 3.33vw;
  color: #595757; }
.adef_webzine .buy__anchor {
  padding: 1.5vw 0;
  display: inline-block;
  text-decoration: underline;
  color: #000;
  font-weight: 900; }
  .adef_webzine .buy__anchor--wrap {
    text-align: center; }
.adef_webzine .info {
  margin-top: 11.5vw;
  font-size: 3.24vw; }
.adef_webzine .section__title {
  font-weight: 900;
  text-align: center;
  margin-bottom: 5.33vw; }
.adef_webzine .section__txt {
  vertical-align: baseline;
  text-align: justify;
  transform: rotate(0.04deg);
  -webkit-transform: rotate(0.04deg);
  -moz-transform: rotate(0.04deg);
  -ms-transform: rotate(0.04deg);
  -o-transform: rotate(0.04deg);
  color: #322d27; }
  .adef_webzine .section__txt p:not(:first-child) {
    margin-top: 6vw; }
.adef_webzine .read__hide--box {
  height: 12vw;
  position: relative;
  overflow: hidden; }
  .adef_webzine .read__hide--box::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), #fff);
    opacity: 1;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    z-index: 10; }
  .adef_webzine .read__hide--box.open::after {
    opacity: 0; }
  .adef_webzine .read__hide--box.open + .read__continue--btn .read__continue--btn_ic {
    background-image: url(https://simage-kr.uniqlo.com/display/corner/2161/img/23_SPss_pants_utility/23_SP_icon_close.png); }
.adef_webzine .read__continue--btn {
  margin: 3vw auto 0;
  text-align: center;
  font-size: 1.14em;
  display: block; }
  .adef_webzine .read__continue--btn span {
    text-decoration: underline;
    font-size: 4vw; }
.adef_webzine .read__continue--btn_ic {
  display: inline-block;
  width: 10px;
  height: 10px;
  background: url(https://simage-kr.uniqlo.com/display/corner/2161/img/23_SPss_pants_utility/23_SP_icon_plus.png) no-repeat 0 0/100% auto; }
.adef_webzine .product____title {
  font-family: Uniqlo Pro Bold, NanumSquare Regular, Roboto, Droid Sans, Helvetica Neue, HiraKakuProN-W3, sans-serif; }
.adef_webzine .product__list {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 3vw; }
.adef_webzine .product__item {
  width: 50%;
  margin: 2vw 0; }
  .adef_webzine .product__item:nth-of-type(1) .product__img--wrap, .adef_webzine .product__item:nth-of-type(2) .product__img--wrap, .adef_webzine .product__item:nth-of-type(3) .product__img--wrap {
    height: 26vw; }
  .adef_webzine .product__item:nth-of-type(4) .product__img--wrap, .adef_webzine .product__item:nth-of-type(5) .product__img--wrap, .adef_webzine .product__item:nth-of-type(6) .product__img--wrap {
    height: 26vw; }
  .adef_webzine .product__item:nth-of-type(7) .product__img--wrap, .adef_webzine .product__item:nth-of-type(8) .product__img--wrap, .adef_webzine .product__item:nth-of-type(9) .product__img--wrap {
    height: 28vw; }
  .adef_webzine .product__item:nth-of-type(1) .product__img--wrap img {
    margin-top: -5vw;
    width: 18.13vw; }
  .adef_webzine .product__item:nth-of-type(2) .product__img--wrap img {
    width: 16.4vw; }
  .adef_webzine .product__item:nth-of-type(3) .product__img--wrap img {
    width: 16.8vw; }
  .adef_webzine .product__item:nth-of-type(4) .product__img--wrap img {
    width: 15.46vw; }
  .adef_webzine .product__item:nth-of-type(5) .product__img--wrap img {
    margin-top: 5vw;
    width: 23.33vw; }
  .adef_webzine .product__item:nth-of-type(6) .product__img--wrap img {
    width: 15.73vw; }
  .adef_webzine .product__item:nth-of-type(7) .product__img--wrap img {
    width: 13.86vw; }
  .adef_webzine .product__item:nth-of-type(8) .product__img--wrap img {
    width: 14.13vw; }
  .adef_webzine .product__item:nth-of-type(9) .product__img--wrap img {
    width: 13.86vw; }
.adef_webzine .product__img--wrap {
  display: flex;
  align-items: center;
  justify-content: center; }
.adef_webzine .product__item--name {
  font-size: 2.66vw;
  line-height: 1.35;
  margin-top: 3.3vw;
  text-align: center;
  font-weight: 900;
  letter-spacing: -0.5px; }
.adef_webzine .slide__box, .adef_webzine .slide__item {
  width: 42vw; }
.adef_webzine .slide__box {
  overflow: hidden; }
.adef_webzine .slide__list {
  display: flex;
  width: fit-content; }
.adef_webzine .uniqlo {
  font-family: Uniqlo Pro Regular, NanumSquare Regular, Roboto, Droid Sans, Helvetica Neue, HiraKakuProN-W3, sans-serif; }
.adef_webzine .uniqlo_bold {
  font-family: Uniqlo Pro Bold, NanumSquare Regular, Roboto, Droid Sans, Helvetica Neue, HiraKakuProN-W3, sans-serif; }

/* 위에는 font 설정만 하시구 스타일적용은 아래에 작업해주시면 됩니다*/
/* 페이지 */
.adef_webzine .product__list {
  margin-top: 12vw; }
.adef_webzine .product__item:nth-of-type(1), .adef_webzine .product__item:nth-of-type(2) {
  margin-top: 0; }
.adef_webzine .product__item:nth-of-type(3), .adef_webzine .product__item:nth-of-type(4) {
  margin-top: 4vw; }
.adef_webzine .product__item:nth-of-type(5), .adef_webzine .product__item:nth-of-type(6) {
  margin-top: 2.53vw; }
.adef_webzine .product__item:nth-of-type(7), .adef_webzine .product__item:nth-of-type(8) {
  margin-top: 7.06vw; }

/*# sourceMappingURL=index.css.map */
