@charset "UTF-8";
@import 'common';

// careers_inside
.welfare {
  .wrap {
    // width: 865px;
  }
  .content__title {
    font-size: 38px;
  }
  .content__description {
    font-size: 20px;
  }
  &_visual {
    min-width: 1080px;
    max-width: 1920px;
    height: 590px;
    background: url(../images/welfare_visual_bg.png) no-repeat center top
      #f7f7f7;
    position: relative;
    margin: 0 auto;
    &__txt {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
      z-index: 10;
    }
    &__deco {
      position: absolute;
      animation-duration: 1.5s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-fill-mode: forwards;
      z-index: 5;
      &.one {
        top: 75.42%;
        left: 30.98%;
        animation-name: welfareMove_1;
      }
      &.two {
        top: 9.66%;
        right: 30.46%;
        animation-name: welfareMove_1;
      }
      &.three {
        top: 70%;
        right: 22.39%;
        animation-name: welfareMove_2;
      }
      &.four {
        top: 28.81%;
        left: 24.73%;
        animation-name: welfareMove_2;
      }
    }
    &__star {
      position: absolute;
      animation-iteration-count: infinite;
      animation-direction: alternate;
      animation-fill-mode: forwards;
      animation-duration: 2s;
      &.six {
        left: 30.2%;
        top: 22.03%;
        animation-name: welfareOpacity_1;
        animation-delay: 1s;
      }
      &.three {
        left: 21.97%;
        top: 62.71%;
        animation-name: welfareOpacity_2;
        animation-delay: 2s;
      }
      &.one {
        top: 58.98%;
        left: 35.88%;
        animation-name: welfareOpacity_1;
        animation-delay: 3s;
      }
      &.seven {
        top: 78.3%;
        left: 25.31%;
        animation-name: welfareOpacity_1;
        animation-delay: 3s;
      }
      &.five {
        top: 32.71%;
        right: 23.17%;
        animation-name: welfareOpacity_2;

        animation-delay: 2s;
      }
      &.four {
        top: 45.76%;
        right: 11.97%;
        animation-name: welfareOpacity_1;

        animation-delay: 1s;
      }
      &.two {
        right: 21.77%;
        top: 69.49%;
        z-index: 0;
        animation-name: welfareOpacity_2;

        animation-delay: 1s;
      }
    }
  }

  &_people {
    padding: 100px 0;
  }
  &__chat {
    margin-top: 75px;
    &_list {
      display: flex;
      justify-content: space-between;
    }
    &_item {
      width: 272px;
      padding: 50px 0 60px;
      background: #fff;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      -o-border-radius: 10px;
      text-align: center;
      -webkit-box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
      &:not(:first-child) {
        margin-left: 30px;
      }
      &:nth-child(1) {
        .welfare__chat--person {
          width: 103px;
          left: calc(50% - 4px);
        }
      }
      &:nth-child(2) {
        .welfare__chat--person {
          width: 111px;

          left: 50%;
        }
      }
      &:nth-child(3) {
        .welfare__chat--person {
          width: 101px;

          left: calc(50% - 7px);
        }
      }
    }
    &--img {
      width: 145px;
      height: 145px;
      margin: 0 auto;
      border-radius: 100%;
      background: #ebebeb;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      -o-border-radius: 100%;
      position: relative;
    }
    &--person_wrap {
      width: 100%;
      height: 100%;
      border-radius: 100%;
      position: relative;
      overflow: hidden;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      -o-border-radius: 100%;
    }
    &--person {
      position: absolute;
      bottom: 0;
      bottom: 0px;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
    }
    &--ballon_wrap {
      position: absolute;
      top: 15px;
      right: -50px;
      width: 82px;
      height: 46px;
      background: url('../images/balloon.png') no-repeat;
      color: #fff;
      font-size: 11px;
      display: flex;
      justify-content: center;
      padding-top: 5.5px;
      line-height: 1.2;
      transform: rotate(0.04deg);
    }

    &--txt-img {
      margin-top: 20px;
      &.one {
        width: 168px;
      }
      &.two {
        width: 219px;
      }
      &.three {
        width: 244px;
      }
    }
    &--txt_box {
      margin-top: 25px;
    }
    &--title {
      font-weight: 700;
      font-size: 16px;
      color: #121417;
    }
    &--txt {
      font-size: 13px;
      color: #5f6061;
      line-height: 1.6;
      margin-top: 45px;
      position: relative;
      &::after {
        content: '';
        display: block;
        position: absolute;
        width: 41px;
        height: 2px;
        background: #ebebeb;
        top: -22px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
      }
    }
  }
  &_support {
    margin-top: 95px;
    &__list {
      display: flex;
      justify-content: space-between;
      &:not(:first-child) {
        margin: 50px auto 0;
      }
      &.two {
        width: 855px;
      }
    }
    &__item {
      width: 177px;
    }
    &__item--img_box {
      width: 177px;
      height: 177px;
      background: #ebebeb;
      border-radius: 100%;
      -webkit-border-radius: 100%;
      -moz-border-radius: 100%;
      -ms-border-radius: 100%;
      -o-border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    &__item--txt {
      margin-top: 25px;
      text-align: center;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.2;
    }
    &__txt {
      text-align: center;
      padding: 60px 0;
      margin: 130px auto 0;
      background: #fff;
      font-size: 26px;
      width: 875px;
      line-height: 1.4;
      border-radius: 100px;
      -webkit-border-radius: 100px;
      -moz-border-radius: 100px;
      -ms-border-radius: 100px;
      -o-border-radius: 100px;
      position: relative;
    }
    &__txt--line {
      position: absolute;
      left: 50%;
      top: -95px;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
    }
  }
  &_culture {
    padding: 120px 0 170px;
    .wrap {
      width: 870px;
    }
  }
  &_culture__video--box {
    margin-top: 75px;
    overflow: hidden;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
  }
  &_culture__video {
    width: 100%;
    height: 607.5px;
  }

  &_culture__info {
    text-align: center;
    color: #a6a6a7;
    font-size: 12px;
    margin-top: 40px;
  }
}

.benefit {
  padding: 120px 0 95px;
  background: #f7f7f7;
  border-radius: 0 205px 0 0;
  //background: url('../images/recruit_grey_bg.png') no-repeat top center;
  //background-size: 100%;
  -webkit-border-radius: 0 205px 0 0;
  -moz-border-radius: 0 205px 0 0;
  -ms-border-radius: 0 205px 0 0;
  -o-border-radius: 0 205px 0 0;
  &_tab__list {
    width: 560px;
    margin: -150px auto 0;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    display: flex;
    height: 60px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
  }
  &_tab__item {
    height: 100%;
    width: 33.33%;
    display: flex;
    align-items: center;
    &:not(:last-child) {
      border-right: 1px solid #fde6d4;
    }
  }
  &_tab__btn {
    position: relative;
    padding-left: 25px;
    text-align: left;
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-weight: 700;
    transform: rotate(0.04deg);
    background: #fff !important;
    -webkit-transform: rotate(0.04deg);
    -moz-transform: rotate(0.04deg);
    -ms-transform: rotate(0.04deg);
    -o-transform: rotate(0.04deg);
    letter-spacing: -1px;
    &.active {
      background: #f58329;
      color: #fff;
      &::after {
        background: url('../images/arrow_bottom_white.png') no-repeat;
        background-size: 100%;
      }
    }
    &::after {
      content: '';
      display: block;
      width: 10px;
      height: 5px;
      background: url('../images/arrow_bottom_black.png') no-repeat;
      background-size: 100%;
      position: absolute;
      right: 30px;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
    }
  }
  &_tab__list2 {
    position: fixed;
    display: none;
    z-index: 10;
    right: 100px;
    transform-origin: right bottom;
    top: 50%;
    transition: all 0.3s;
    transform: translateY(-50%) scale(0);
    -webkit-transform: translateY(-50%) scale(0);
    -moz-transform: translateY(-50%) scale(0);
    -ms-transform: translateY(-50%) scale(0);
    -o-transform: translateY(-50%) scale(0);
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    overflow: hidden;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    &.active {
      transform: translateY(-50%) scale(1);
      -webkit-transform: translateY(-50%) scale(1);
      -moz-transform: translateY(-50%) scale(1);
      -ms-transform: translateY(-50%) scale(1);
      -o-transform: translateY(-50%) scale(1);
    }
  }
  &_tab__item2 {
    &:not(:last-child) {
      border-bottom: 1px solid #dadada;
    }
  }
  &_tab__item2--btn {
    outline: 0;
    background: #fff;
    width: 133px;
    height: 130px;
    font-weight: 700;
    font-size: 14px;
    transform: rotate(0.04deg);
    -webkit-transform: rotate(0.04deg);
    -moz-transform: rotate(0.04deg);
    -ms-transform: rotate(0.04deg);
    -o-transform: rotate(0.04deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &.active {
      .benefit_tab__item--ic {
        &.one {
          background-position: left -56px;
        }
        &.two {
          background-position: left -192px;
        }
        &.three {
          background-position: left -340px;
        }
      }
    }
  }
  &_tab__item--ic {
    display: block;
    margin-bottom: 10px;
    &.one {
      width: 45px;
      height: 48px;
      background: url('../images/beneft_tab_ic.png') no-repeat;
    }
    &.two {
      width: 43px;
      height: 59px;
      background: url('../images/beneft_tab_ic.png') no-repeat left top -125px;
    }
    &.three {
      width: 70px;
      height: 59px;
      background: url('../images/beneft_tab_ic.png') no-repeat left -265px;
    }
  }
  &__content {
    display: none;
    &.active {
      display: block;
    }
  }
  .content__description {
    margin-top: 70px;
    margin-bottom: 85px;
    color: #5c5d5e;
  }
  &__list--box {
    margin: 0 auto;
    width: 865px;
    // padding-top: 7px;
  }
  &__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &:not(:first-child) {
      margin-top: 18px;
    }
  }
  &__item {
    .yellow {
      color: #ffea00;
    }
    box-sizing: border-box;
    position: relative;
    margin: 7.5px 0;
    &.wide {
      padding: 35px 40px;
      width: 571px;
      height: 276px;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      transition: all 0.3s;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      align-items: flex-start;
    }
    &.narrow {
      padding: 45px 0 0 0;
      width: 277px;
      height: 438px;
      border-radius: 20px;
      -webkit-border-radius: 20px;
      -moz-border-radius: 20px;
      -ms-border-radius: 20px;
      -o-border-radius: 20px;
      -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
      box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
      .benefit__item--small {
        margin-top: 30px;
      }
    }
    &.square {
      width: 277px;
      height: 277px;

      padding-top: 40px;
    }
  }
  &__item--big {
    font-size: 27px;
    font-weight: 800;
    line-height: 1.2;
    &.center {
      text-align: center;
    }
  }
  &__item--small {
    font-size: 15px;
    transform: rotate(0.04deg);
    -webkit-transform: rotate(0.04deg);
    -moz-transform: rotate(0.04deg);
    -ms-transform: rotate(0.04deg);
    -o-transform: rotate(0.04deg);
    line-height: 1.4;
    &.center {
      text-align: center;
    }
  }
  &__item--info {
    font-size: 11px;
  }
  &__ballon--txt {
    margin-left: -20px;
  }
  &__balloon {
    position: relative;
    width: 100%;
    height: 205px;
    background: url('../images/ballon_white.png') no-repeat;
    background-size: 101.5%;
    box-sizing: border-box;
    // background: #fff;
    border-radius: 20px;
    text-align: center;
  }
  &__ballon--year {
    font-size: 22px;
    font-weight: 800;
    line-height: 1;
  }
  &__ballon--content {
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.4;
    .small {
      font-size: 15px;
    }
  }
  &__ballon--img {
    position: absolute;
    bottom: 0;
  }
  &_notice__list {
    margin-top: 70px;
  }
  &_notice__item {
    position: relative;
    padding-left: 13px;
    color: #a1a1a1;
    font-weight: 400;
    &:not(:first-child) {
      margin-top: 10px;
    }
    &::before {
      content: '*';
      display: block;
      position: absolute;
      left: 0;
      top: 4px;
    }
  }
}

.benefit1 {
  .square {
    border-radius: 80px 80px 15px 80px;
    -webkit-border-radius: 80px 80px 15px 80px;
    -moz-border-radius: 80px 80px 15px 80px;
    -ms-border-radius: 80px 80px 15px 80px;
    -o-border-radius: 80px 80px 15px 80px;
    &.radius {
      border-radius: 80px 80px 15px 80px;
      -webkit-border-radius: 80px 80px 15px 80px;
      -moz-border-radius: 80px 80px 15px 80px;
      -ms-border-radius: 80px 80px 15px 80px;
      -o-border-radius: 80px 80px 15px 80px;
    }
  }
  &__list {
    .one {
      background: url('../images/welfare_bg.png') no-repeat right center #fff;
      background-size: auto 100%;
    }
    .two {
      background: url('../images/welfare_restaurant.png') no-repeat #eae1f6
        center bottom 25px;
      background-size: 150px;
      .benefit__item--small {
        margin-top: 25px;
      }
    }
    .three {
      padding: 50px 0;
      background: #7823ee;
      color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      .yellow {
        margin-top: 10px;
      }
    }
    .four {
      background: url('../images/welfare_team.png') no-repeat center bottom #fff;
      background-size: 100%;
    }
    .five {
      background: url('../images/welfare_ritual.png') no-repeat center bottom
        #fff;
      background-size: 100%;
    }
    .six {
      margin-top: -162px;
      background: url('../images/welfare_burnout.png') no-repeat right 0px
        bottom #fff;
      background-size: 90%;
    }
    .seven {
      background: url('../images/welfare_brownbag.png') no-repeat right center
        #fff;
      background-size: auto 100%;
    }
    .eight {
      background: url('../images/welfare_book.png') no-repeat right 10px bottom
        #fff;
      background-size: 234px;
    }
    .nine {
      background: url('../images/welfare_ec.png') no-repeat center bottom 15px
        #eae1f6;
      background-size: 144px;
      .benefit__item--small {
        margin-top: 20px;
      }
    }
  }
}

.benefit2 {
  .square {
    padding: 30px 0 0 30px;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    .benefit__item--small {
      margin-top: 45px;
    }
  }
  .benefit__item {
    margin: 7.5px 0;
  }
  &__list--box {
  }
  &__list {
    .one {
      background: url('../images/welfare_ps.png') no-repeat right 15px bottom
        10px #fff;
      background-size: 128px;
    }
    .two {
      background: url('../images/welfare_phonebill.png') no-repeat right 22px
        bottom 19px #fff;
      background-size: 107px;
    }
    .three {
      background: url('../images/welfare_health.png') no-repeat right 29px
        bottom 15px #fff;
      background-size: 72px;
    }
    .four {
      background: url('../images/welfare_homeoffice.png') no-repeat right 12px
        bottom #fff;
      background-size: 121px;
    }
    .five {
      background: url('../images/welfare_birthday.png') no-repeat right 11px
        bottom 19px #fff;
      background-size: 99px;
    }
    .six {
      background: url('../images/welfare_club.png') no-repeat right 28px bottom
        #fff;
      background-size: 131px;
    }
    .seven {
      background: url('../images/welfare_congratulation.png') no-repeat right
        16px bottom 15px #fff;
      background-size: 148px;
    }
    .eight {
      background: url('../images/welfare_injection.png') no-repeat right 21px
        bottom #fff;
      background-size: 98px;
    }
    .nine {
      // background: url('../images/welfare_education.png') no-repeat right 28zpx
      //   bottom 20px #fff;
      background: url('../images/welfare_education.png') no-repeat right 22px
        bottom 17px #fff;
      background-size: 127px;
    }
  }
}

.benefit3 {
  .benefit__item {
    margin: 25px 0;
    width: 33.33%;
    height: 285px;
    position: relative;
  }
  .benefit__list {
    margin-top: -30px;
    .line1 {
      .benefit__ballon--content {
        line-height: 1;
      }
      .benefit__ballon--txt {
        padding-top: 59px;
      }
    }
    .line2 {
      .benefit__ballon--txt {
        padding-top: 55px;
      }
    }
    .line3 {
      .benefit__ballon--txt {
        padding-top: 43px;
      }
    }
    .line4 {
      .benefit__ballon--txt {
        padding-top: 31px;
      }
    }
    &:not(:first-child) {
      margin-top: 50px;
    }
  }
  &__list {
    .one {
      .benefit__ballon--img {
        width: 141px;
        left: 45px;
      }
    }
    .two {
      .benefit__ballon--img {
        width: 154px;

        left: 48px;
      }
    }

    .three {
      .benefit__ballon--img {
        width: 154px;

        left: 48px;
      }
    }
    .four {
      .benefit__ballon--img {
        width: 158px;

        left: 45px;
      }
    }
    .five {
      .benefit__ballon--img {
        width: 269px;

        left: 0px;
      }
    }

    .six {
      .benefit__ballon--img {
        width: 205px;

        left: 40px;
      }
    }
  }
}

.welfare_sapce {
  padding: 115px 0 120px;
}
// 유튜브 동영상 width:100%, height:auto
.welfare_culture__video--box {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}
.welfare_culture__video--box iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

// 지원하기
.apply {
  bottom: 40px;
  transform: translateY(105px);
  -webkit-transform: translateY(105px);
  -moz-transform: translateY(105px);
  -ms-transform: translateY(105px);
  -o-transform: translateY(105px);
}
.apply_top {
  top: 200px;
}
.apply,
.apply_top {
  //display: none;
  position: fixed;
  z-index: 10;
  right: 75px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;

  &__box {
    position: relative;
    display: flex;
    align-items: center;
  }
  &__anchor {
    display: block;
    font-size: 15px;
    font-weight: 700;
    text-decoration: none;
    color: #000;
  }
  &__anchor--txt {
    padding: 15px 100px 15px 37px;
    background: #fff;
    -webkit-box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
  }
  &__logo {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #753288;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
  }
  &__close {
    width: 15px;
    height: 15px;
    background: #000000;
    position: absolute;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    right: 5px;
    top: -12px;
    padding: 0;
    &::before,
    &::after {
      content: '';
      position: absolute;
      display: block;
      width: 7px;
      height: 1px;
      background: #fff;
      left: 50%;
      top: 50%;
      border-radius: 4px;
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      -ms-border-radius: 4px;
      -o-border-radius: 4px;
      //transform-origin: center;
    }
    &::before {
      transform: translate(-50%, -50%) rotate(45deg);
      -webkit-transform: translate(-50%, -50%) rotate(45deg);
      -moz-transform: translate(-50%, -50%) rotate(45deg);
      -ms-transform: translate(-50%, -50%) rotate(45deg);
      -o-transform: translate(-50%, -50%) rotate(45deg);
    }
    &::after {
      transform: translate(-50%, -50%) rotate(-45deg);
      -webkit-transform: translate(-50%, -50%) rotate(-45deg);
      -moz-transform: translate(-50%, -50%) rotate(-45deg);
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
      -o-transform: translate(-50%, -50%) rotate(-45deg);
    }
  }
}
// swiper 커스텀
.welfare_sapce {
  .swiper {
    margin-top: 95px;
    width: 865px;
    height: 316px;
  }

  .swiper-slide {
  }
}

// careers_recruit
.employ {
  padding: 200px 0 120px 0;
  &__form {
    margin: 50px 0 20px 0;
    & > * {
      &:not(:first-child) {
        margin-left: 14px;
      }
    }
  }
  &__form--select,
  &__form--search[type='text'] {
    border: 1px solid #b4b4b4;
    border-radius: 5px;
    min-width: 240px;
    box-sizing: border-box;
    //select박스의크기방식지정.font-size: 13.5px;
    color: #515151;
    // transform: rotate(0.04deg);
    // -webkit-transform: rotate(0.04deg);
    // -moz-transform: rotate(0.04deg);
    // -ms-transform: rotate(0.04deg);
    // -o-transform: rotate(0.04deg);
    &::placeholder {
      color: #515151;
      font-weight: 500;
      // transform: rotate(0.04deg);
      // -webkit-transform: rotate(0.04deg);
      // -moz-transform: rotate(0.04deg);
      // -ms-transform: rotate(0.04deg);
      // -o-transform: rotate(0.04deg);
    }
  }
  &__form--select {
    padding: 10px 30px 10px 13px;
    -webkit-appearance: none; /* for chrome */
    -moz-appearance: none; /*for firefox*/
    appearance: none;
    background: url('../images/select_arrow.png') no-repeat right 15px center;
  }
  &__form--search[type='text'] {
    padding: 10px 13px 10px 33px;
    background: url('../images/input_search.png') no-repeat left 13px center;
    font-weight: 500;
    transform: rotate(0.04deg);
    -webkit-transform: rotate(0.04deg);
    -moz-transform: rotate(0.04deg);
    -ms-transform: rotate(0.04deg);
    -o-transform: rotate(0.04deg);
  }

  &__list--dt {
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #e5e5e5;
    cursor: pointer;
  }
  &__list--field {
    font-size: 22px;
    font-weight: 800;
    display: flex;
    align-items: center;
    flex: 1;
    .always {
      font-size: 12px;
      color: #fff;
      background: #f58329;
      padding: 5px 8px;
      border-radius: 5px;
      margin-left: 15px;
    }
  }
  &__list--team,
  &__list--career {
    color: #797979;
    font-size: 15px;
  }
  &__list--team {
    margin-right: 70px;
  }
  &__list--career {
    margin-right: 85px;
  }
  &__list--arrow {
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    &.active {
      transform: rotate(-180deg);
      -webkit-transform: rotate(-180deg);
      -moz-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
      -o-transform: rotate(-180deg);
    }
  }

  &__list--dd {
    padding: 70px 115px;
    background: #f9f9f9;
    display: flex;
    justify-content: space-between;
    display: none;
  }
}
.qualify {
  &__title {
    font-size: 16px;
    font-weight: 700;
  }
  &__list {
    margin-top: 10px;
  }
  &__item {
    position: relative;
    padding-left: 10px;
    line-height: 1.4;
    &:not(:first-child) {
      margin-top: 5px;
    }
    &::before {
      content: '-';
      display: block;
      position: absolute;
      left: 0;
    }
  }
}
.recruit {
  padding: 85px 0 120px;
  &__title {
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 30px;
  }
  &__content {
    &:not(:first-child) {
      margin-top: 70px;
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    &:not(:nth-of-type(1)) {
      margin-top: 30px;
    }
    &.textarea__box {
      padding-bottom: 15px;
      border-bottom: 1px solid #d1d1d1;
    }
  }
  &_tab__list {
    display: flex;
  }
  &_tab__item {
    &:not(:first-child) {
      margin-left: 17px;
    }
  }
  &_field__tab--btn {
    font-weight: 700;
    width: 135px;
    height: 45px;
    border-radius: 50px;
    font-size: 12px;
    border: 1px solid #dddddd;
    background: #fff !important;
    &.active {
      border: none;
    }

    &.tab_action::after {
      background-image: none;
    }
  }
  &__select,
  &__input,
  .upload-name {
    color: #333 !important;
  }
  &__select,
  &__input {
    width: 460px;
    padding: 15px;
    border: none;
    border-bottom: 1px solid #cbcbcb;
    background: none;
    font-size: 13.5px;
    box-sizing: border-box;
  }
  &__select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: url(../images/select_arrow.png) no-repeat right 15px center;
  }
  &__textarea {
    width: 100%;
    background: #f3f3f3;
    color: #333;
  }
  &__apply--btn {
    background: #f58329;
    color: #fff;
    font-weight: 600;
    transform: rotate(0.04deg);
    margin: 85px auto 0;
    display: flex;
    width: 350px;
    height: 55px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    font-size: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
  }
}
.filebox {
  width: 460px;
  border-bottom: 1px solid #d1d1d1;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filebox .upload-name {
  display: inline-block;
  padding: 0 10px;
  vertical-align: middle;
  border: 1px solid #dddddd;
  width: 78%;
  outline: 0;
  border: none;
  background: none;
  font-size: 13.5px;
  font-weight: 500;
}
.filebox label {
  display: inline-block;
  padding: 10px;
  color: #fff;
  vertical-align: middle;
  background-color: #999999;
  cursor: pointer;
  margin-left: 10px;
  font-size: 12px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.filebox input[type='file'] {
  position: absolute;
  width: 0;
  height: 0;
  padding: 0;
  overflow: hidden;
  border: 0;
  outline: 0;
}
