@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: "Pretendard", sans-serif;
  vertical-align: baseline;
  letter-spacing: -0.8px;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

/*반응형 화면 크기*/
button {
  letter-spacing: -0.8px;
}

select option[value=""][disabled] {
  display: none;
}

select {
  outline: 0;
}

/* input text */
input[type=text] {
  border: none;
  border-bottom: 1px solid #cbcbcb;
  padding: 0 15px 15px;
  font-weight: 500;
  font-size: 13.5px;
  outline: 0;
  color: #8b8b8b;
  letter-spacing: -0.5px;
}
input[type=text]::-moz-placeholder {
  font-weight: 500;
  color: #8b8b8b;
}
input[type=text]::placeholder {
  font-weight: 500;
  color: #8b8b8b;
}

/* textarea */
textarea {
  border: none;
  padding: 15px;
  outline: 0;
  resize: none;
  font-family: "Pretendard";
  font-size: 13.5px;
  font-weight: 500;
  letter-spacing: -0.8px;
}
textarea::-moz-placeholder {
  font-family: "Pretendard";
}
textarea::placeholder {
  font-family: "Pretendard";
}

/* input */
input[type=checkbox] {
  display: none;
}

/* label */
input[type=checkbox] + label {
  position: relative;
  display: inline-block;
  top: 0;
  padding-left: 35px;
  padding-top: 1px;
  line-height: 1.2em;
}

input[type=checkbox] + label span {
  font-size: 14px;
}

/* label::before : 체크박스 커스텀 */
input[type=checkbox] + label::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  background: #dedede;
  border-radius: 100%;
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
  transition: background-color 0.2s;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  -webkit-transition: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
}

/* label::before 체크박스 체크되었을 때 */
input[type=checkbox]:checked + label::before {
  background: url(../images/ic_check.png) #f58329 no-repeat center;
  transform: scale3d(1, 1, 1);
}

.pc_block {
  display: block;
}

.none {
  display: none;
}

.wrap {
  width: 1080px;
  margin: 0 auto;
  position: relative;
}

.thin {
  font-weight: 100;
}

.light {
  font-weight: 300;
}

.regular {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 700;
}

.eb {
  font-weight: 900;
}

.clear::after {
  content: "";
  display: block;
  clear: both;
}

@keyframes highlight {
  0% {
    width: 0;
  }
  100% {
    width: 100%;
  }
}
@keyframes btnScale {
  0% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
  50% {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
  }
  100% {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
  }
}
@keyframes arrowMove {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(3px);
    -webkit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    -ms-transform: translateY(3px);
    -o-transform: translateY(3px);
  }
}
@keyframes moreArrowMove {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes leftRightMove {
  0% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    opacity: 1;
  }
  100% {
    transform: translateX(13px);
    -webkit-transform: translateX(13px);
    -moz-transform: translateX(13px);
    -ms-transform: translateX(13px);
    -o-transform: translateX(13px);
    opacity: 0;
  }
}
@keyframes welfareMove_1 {
  0% {
    transform: translateY(20%);
    -webkit-transform: translateY(20%);
    -moz-transform: translateY(20%);
    -ms-transform: translateY(20%);
    -o-transform: translateY(20%);
  }
  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
}
@keyframes welfareMove_2 {
  0% {
    transform: translateY(-20%);
    -webkit-transform: translateY(-20%);
    -moz-transform: translateY(-20%);
    -ms-transform: translateY(-20%);
    -o-transform: translateY(-20%);
  }
  100% {
    transform: translateY(0px);
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
}
@keyframes welfareOpacity_1 {
  0% {
    opacity: 1;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    opacity: 0;
    transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -o-transform: rotate(30deg);
  }
}
@keyframes welfareOpacity_2 {
  0% {
    opacity: 1;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    opacity: 0;
    transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    -moz-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
  }
}
@keyframes rotateRight {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(10deg);
    -webkit-transform: rotate(10deg);
    -moz-transform: rotate(10deg);
    -ms-transform: rotate(10deg);
    -o-transform: rotate(10deg);
  }
}
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard/Pretendard-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard/Pretendard-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard/Pretendard-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard/Pretendard-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard/Pretendard-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard/Pretendard-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Pretendard";
  src: url("../fonts/Pretendard/Pretendard-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}
.bold {
  font-weight: 700;
}

.eb {
  font-weight: 900;
}

.gnb .wrap {
  height: 80px;
  max-width: 1215px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main__section,
.footer,
main {
  min-width: 1215px;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 30;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.header.bg_white {
  background: #fff;
  border-bottom: 1px solid #753288;
}
.header.shadow {
  background: rgba(255, 255, 255, 0.95);
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.2);
}
.header.white .header__logo {
  background: url("../images/logo_white.png") no-repeat center center;
  background-size: 100%;
}
.header.white .menu__btn::before, .header.white .menu__btn::after,
.header.white .menu__btn span {
  background: #fff;
}
.header__logo--anchor {
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.header__logo {
  width: 159px;
  height: 29px;
  background: url("../images/logo.png") no-repeat center center;
  background-size: 100%;
}
.header.active {
  background: transparent;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.header.active .header__logo--anchor {
  opacity: 0;
}
.header.active .menu__btn::before, .header.active .menu__btn::after {
  background: #fff;
}
.header.active .menu__btn::before {
  top: 50%;
  transform-origin: center;
  transform: translateY(-50%) rotate(45deg);
}
.header.active .menu__btn::after {
  top: 50%;
  transform-origin: center;
  transform: translateY(-50%) rotate(-45deg);
  -webkit-transform: translateY(-50%) rotate(-45deg);
  -moz-transform: translateY(-50%) rotate(-45deg);
  -ms-transform: translateY(-50%) rotate(-45deg);
  -o-transform: translateY(-50%) rotate(-45deg);
}
.header.active .menu__btn span {
  opacity: 0;
}
.header .menu__btn {
  position: absolute;
  width: 24px;
  height: 23px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.header .menu__btn::after, .header .menu__btn::before {
  content: "";
}
.header .menu__btn::before, .header .menu__btn::after,
.header .menu__btn span {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background: #222222;
  left: 0;
  transition: all 0.3s;
  -webkit-transition: 0.3 all;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}
.header .menu__btn::before {
  top: 0;
}
.header .menu__btn::after {
  bottom: 0;
}
.header .menu__btn span {
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}

.content__title--box.center {
  text-align: center;
}
.content__title--box.small .content__title {
  color: #414141;
  font-weight: 800;
  font-size: 30px;
}
.content__title--box.small .content__description {
  margin-top: 20px;
  color: #414141;
  font-size: 15px;
}
.content__title {
  font-weight: 800;
  color: #121417;
  font-size: 38px;
  line-height: 1.2;
}
.content__title.center {
  text-align: center;
}
.content__description {
  margin-top: 30px;
  color: #121417;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
}
.content__description.center {
  text-align: center;
}

.footer {
  background: #222222;
  padding: 85px 0 75px;
  color: #ffffff;
}
.footer__box1 {
  border-bottom: 1px solid #383838;
  padding-bottom: 75px;
}
.footer__box1 .wrap {
  display: flex;
}
.footer__title {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0;
}
.footer__inquiry {
  margin-left: 240px;
}
.footer__inquiry_list {
  margin-top: 20px;
}
.footer__inquiry_item, .footer__info--content {
  font-weight: 200;
  font-size: 12px;
  letter-spacing: 0;
}
.footer__inquiry_item:not(:first-child) {
  margin-top: 10px;
}
.footer__info--content {
  margin-top: 20px;
}
.footer__info {
  margin-left: 70px;
}
.footer__info > div:not(:first-child) {
  margin-top: 50px;
}
.footer__download--company_introduce {
  margin-top: 65px;
  display: block;
  width: 165px;
  height: 45px;
  background: #f58329;
  color: #fff;
  text-decoration: none;
  font-size: 10px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__download--company_introduce img {
  margin-left: 5px;
}
.footer__box2 {
  padding-top: 40px;
}
.footer__box2 .wrap {
  display: flex;
  justify-content: space-between;
}
.footer__copy {
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0;
}
.footer__sns--anchor {
  text-decoration: none;
}
.footer__contact_list {
  display: flex;
}
.footer__contact_item:not(:last-child) {
  position: relative;
  margin-right: 27px;
}
.footer__contact_item:not(:last-child)::after {
  content: "";
  display: block;
  width: 1px;
  height: 11px;
  background: #fff;
  position: absolute;
  right: -14px;
  top: 50%;
  transform: translateY(-50%);
}

.nav {
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  background: #000000;
  top: 0;
  left: 0;
  z-index: 20;
}
.nav .wrap {
  width: 1600px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.nav__list {
  display: flex;
  justify-content: space-between;
}
.nav__item--title {
  font-size: 42px;
  color: #fff;
  font-weight: 700;
}
.nav__list_depth {
  margin-top: 55px;
}
.nav__item--title_anchor {
  text-decoration: none;
}
.nav__list_depth--item:not(:first-of-type) {
  margin-top: 25px;
}
.nav__list_depth--anchor {
  color: #fff;
  text-decoration: none;
  font-weight: 700;
  font-size: 24px;
  position: relative;
  padding-left: 18px;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.nav__list_depth--anchor::before {
  content: "";
  position: absolute;
  left: 0;
  top: 11px;
  display: block;
  width: 5px;
  height: 5px;
  background: #fff;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
}
.btn__top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  position: fixed;
  bottom: 40px;
  right: 15px;
  background: url("../images/btn_top_arrow.png") no-repeat center center #fff;
  box-shadow: 0px 0px 7px 1px rgba(0, 0, 0, 0.3);
  transform: translateY(105px);
  -webkit-transform: translateY(105px);
  -moz-transform: translateY(105px);
  -ms-transform: translateY(105px);
  -o-transform: translateY(105px);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
}
.btn__top.black {
  background: url("../images/btn_top_arrow_white.png") no-repeat center center #222222;
}

.tab_action {
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  background: transparent !important;
  transform: rotate(0.04deg);
  -webkit-transform: rotate(0.04deg);
  -moz-transform: rotate(0.04deg);
  -ms-transform: rotate(0.04deg);
  -o-transform: rotate(0.04deg);
}
.tab_action.active {
  color: #fff !important;
}
.tab_action.active::after {
  background: url(../images/arrow_bottom_white.png) no-repeat;
  background-size: 100%;
}
.tab_action::after {
  content: "";
  display: block;
  width: 10px;
  height: 5px;
  background: url(../images/arrow_bottom_black.png) no-repeat;
  background-size: 100%;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.tab_action::before {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: #f58329;
  position: absolute;
  transform: skewX(-20deg);
  left: -10%;
  opacity: 1;
  top: 0;
  z-index: -12;
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.1);
  -moz-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  -ms-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}
.tab_action.active::before {
  opacity: 1;
  width: 116%;
}

.private {
  font-weight: 500;
}
.private.red .private__view {
  color: #ec2c39;
}
.private.red input[type=checkbox] + label span {
  color: #222222;
}
.private.red input[type=checkbox]:checked + label::before {
  background: url(../images/ic_check.png) #ec2c39 no-repeat center;
}
.private input[type=checkbox] + label::before {
  top: 2px;
}
.private input[type=checkbox] + label span {
  color: #8b8b8b;
}
.private input[type=checkbox] + label {
  transform: rotate(0.04deg);
  -webkit-transform: rotate(0.04deg);
  -moz-transform: rotate(0.04deg);
  -ms-transform: rotate(0.04deg);
  -o-transform: rotate(0.04deg);
}
.private__view {
  text-decoration: underline;
  color: #f58329;
  font-weight: 600;
  padding: 0;
  letter-spacing: -0.8px;
}

section.grey {
  background: #f7f7f7;
}

.career__apply {
  display: block;
  bottom: inherit;
  top: 110px;
}

main .swiper-pagination {
  position: static;
  margin-top: 15px;
}
main .swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background: #8b8b8b;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  opacity: 1;
}
main .swiper-pagination-bullet-active {
  width: 20px;
  height: 6px;
  background: #f58329;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 35;
}
.modal__bg {
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}
.modal__content {
  position: absolute;
  top: 0;
  left: 0;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  box-sizing: border-box;
}
.modal__close::before, .modal__close::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  left: 0;
  transition: all 0.3s;
  -webkit-transition: 0.3 all;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  top: 50%;
}
.modal__close::before {
  transform: translateY(-50%) rotate(45deg);
}
.modal__close::after {
  -webkit-transform: translateY(-50%) rotate(-45deg);
}

.portfolio_modal .modal__bg {
  background: rgba(0, 0, 0, 0.89);
}
.portfolio_modal .modal__close {
  position: absolute;
  right: 165px;
  top: 60px;
}
.portfolio_modal .modal__close::before, .portfolio_modal .modal__close::after {
  width: 32px;
  height: 2px;
  background: #fff;
}
.portfolio_modal__btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.portfolio_modal__btn.prev {
  left: -120px;
}
.portfolio_modal__btn.next {
  right: -120px;
}
.portfolio_modal__btn:disabled {
  opacity: 0.3;
}

.work_tab {
  padding-top: 165px;
}
.work_tab__box {
  margin-left: -40px;
  display: inline-flex;
  overflow: hidden;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  box-shadow: 0px 0px 25px 1px rgba(0, 0, 0, 0.14);
}
.work_tab__btn {
  position: relative;
  height: 60px;
  width: 255px;
  background: #fff;
  display: flex;
  align-items: center;
  padding-left: 45px;
  font-weight: 700;
  overflow: hidden !important;
  transition: all 0.3s ease-in-out;
  background: transparent !important;
  transform: rotate(0.04deg);
  -webkit-transform: rotate(0.04deg);
  -moz-transform: rotate(0.04deg);
  -ms-transform: rotate(0.04deg);
  -o-transform: rotate(0.04deg);
}
.work_tab__btn::before {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  background: #f58329;
  position: absolute;
  transform: skewX(-20deg);
  left: -10%;
  opacity: 1;
  top: 0;
  z-index: -12;
  transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
  box-shadow: 2px 0px 14px rgba(0, 0, 0, 0.1);
  -moz-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  -ms-transition: all 0.6s cubic-bezier(0.77, 0, 0.175, 1);
}
.work_tab__btn ::after {
  content: "";
  width: 0%;
  height: 100%;
  display: block;
  position: absolute;
  transform: skewX(-20deg);
  left: -10%;
  opacity: 0;
  top: 0;
  z-index: -15;
  transition: all 0.3s c3ubic-bezier(0.2, 0.95, 0.57, 0.99);
  -ms-transition: all 0.3s c3ubic-bezier(0.2, 0.95, 0.57, 0.99);
}
.work_tab__btn--arrow {
  width: 10px;
  height: 6px;
  margin-left: 40px;
  background: url("../images/arrow_bottom_black.png") no-repeat;
}

.marketing {
  padding: 100px 0 0;
}
.marketing_ko__grey_bg {
  background: url("../images/marketing_bg.png") no-repeat bottom;
  background-size: 100%;
  padding-bottom: 115px;
}
.marketing__list1 {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}
.marketing__list1.center {
  justify-content: center;
}
.marketing__item1 {
  margin: 25px 0;
  width: 33.33%;
}
.marketing__item--title {
  margin-top: 30px;
  color: #121417;
  font-size: 22px;
  font-weight: 800;
}
.marketing__item--subtitle {
  margin-top: 10px;
  color: #121417;
  font-size: 13px;
  font-weight: 500;
}
.marketing__item--discription {
  margin-top: 13px;
  color: #121417;
  font-size: 12px;
  line-height: 1.4;
}
.marketing__item--anchor {
  text-decoration: none;
  display: block;
}
.marketing__item--arrow {
  display: inline-block;
  margin-top: 12px;
}

.work_prize {
  padding: 135px 0 140px;
}
.work_prize__awards {
  text-align: center;
  margin-bottom: 75px;
}
.work_prize .work__title--box {
  margin-top: 75px;
}
.work_prize__circle--box {
  position: relative;
  width: 748px;
  height: 748px;
  margin: -65px auto 0;
}
.work_prize__circle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.work_prize__circle.one {
  width: 748px;
  height: 748px;
  background: url("../images/marketing_circle1.png") no-repeat;
  background-size: 100%;
}
.work_prize__circle.two {
  width: 600px;
  height: 600px;
  background: url("../images/marketing_circle2.png") no-repeat;
  background-size: 100%;
}
.work_prize__circle.three {
  width: 400px;
  height: 400px;
  background: url("../images/marketing_circle3.png") no-repeat;
  background-size: 100%;
}
.work_prize__circle.purple_orange {
  width: 274px;
  height: 274px;
  background: #fff;
  border-radius: 100%;
  box-shadow: 0px 1px 8px 1px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.work_prize__color {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  width: 137px;
  height: 137px;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  font-weight: 800;
  color: #414141;
}
.work_prize__color.purple {
  background: #f3e8f5;
}
.work_prize__color.orange {
  background: #fef3e9;
}
.work_prize__color.one {
  left: 595px;
  top: 278px;
}
.work_prize__color.two {
  left: 156px;
  top: 423px;
}
.work_prize__color.three {
  left: 0;
  top: 278px;
}
.work_prize__color.four {
  left: 413px;
  top: 164px;
}
.work_prize__color.five {
  left: 435px;
  top: 423px;
}
.work_prize .solution__list1 {
  margin-top: -150px;
  display: flex;
  justify-content: space-between;
}
.work_prize .solution__list2 {
  display: flex;
  justify-content: space-between;
  width: 685px;
  margin: 35px auto 0;
}
.work_prize .solution__list2 .solution__item::before {
  background: #cacaca;
}
.work_prize .solution__item {
  position: relative;
  padding-left: 20px;
}
.work_prize .solution__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  display: block;
  width: 1px;
  height: 100px;
  background: #8d8d8d;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
}
.work_prize .solution__item.margin {
  margin: 72px 0 0 79px;
}
.work_prize .solution__item--title {
  font-size: 18px;
  color: #414141;
  font-weight: 800;
}
.work_prize .solution__item--subtitle {
  font-size: 13px;
  color: #969696;
  font-weight: 700;
}
.work_prize .solution__item--description {
  margin-top: 18px;
  font-size: 12px;
  color: #6a6a6a;
  font-weight: 500;
  line-height: 1.5;
}

.marketing_global .global_circle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 0 175px;
}
.marketing_global .global_circle .orange {
  position: relative;
  width: 247px;
  height: 247px;
  border-radius: 100%;
  background: #f88529;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  padding: 0 0 0 40px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.marketing_global .global_circle__left {
  order: 1;
}
.marketing_global .global_circle__right {
  order: 3;
}
.marketing_global .global_circle__center {
  order: 2;
  position: relative;
  height: 451px;
  width: 451px;
}
.marketing_global .global_circle__center .circle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}
.marketing_global .global_circle__center--one {
  width: 451px;
  height: 451px;
  background: #fff9f4;
}
.marketing_global .global_circle__center--two {
  width: 348px;
  height: 348px;
  background: #fff3ea;
}
.marketing_global .global_circle__center--logo {
  width: 255px;
  height: 255px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 22px 5px rgba(248, 133, 41, 0.25);
}
.marketing_global .global_circle__title {
  font-weight: 800;
  font-size: 22px;
  color: #ffffff;
  text-align: left;
}
.marketing_global .global_circle__list {
  margin-top: 15px;
}
.marketing_global .global_circle__item {
  position: relative;
  color: #fff;
  font-size: 15px;
  letter-spacing: 0;
  padding-left: 9px;
}
.marketing_global .global_circle__item:not(:first-child) {
  margin-top: 10px;
}
.marketing_global .global_circle__item::before {
  content: "";
  display: block;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  background: #fff;
  position: absolute;
  left: 0;
  top: 4px;
}
.marketing_global .global_circle__dot {
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  align-items: center;
}
.marketing_global .global_circle__dot.left {
  right: -145px;
}
.marketing_global .global_circle__dot.left span:last-child {
  width: 8px;
  height: 8px;
}
.marketing_global .global_circle__dot.right {
  left: -145px;
}
.marketing_global .global_circle__dot.right span:first-child {
  width: 8px;
  height: 8px;
}
.marketing_global .global_circle__dot span {
  width: 5px;
  height: 5px;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  -o-border-radius: 100%;
  background: #f88529;
}
.marketing_global .global_circle__dot span:not(:first-child) {
  margin-left: 5px;
}
.marketing_global .global_marketing {
  padding: 65px 0 120px;
}/*# sourceMappingURL=work.css.map */