/* 폰트 */
@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 4vw;
  font: inherit;
  font-family: 'nanumsquare', 'Nanum Gothic', 'Roboto', sans-serif;
  vertical-align: baseline;
  letter-spacing: -0.5px;
  line-height: 1.6;
}

/* common */
.w_100 {
  width: 100%;
}
.block {
  display: block;
}
.wrap {
  padding: 0 8vw;
}
.section__adress {
  margin-top: 9px;
  font-size: 3.2vw;
  text-align: center;
  transform: rotate(0.04deg);
  -webkit-transform: rotate(0.04deg);
  -moz-transform: rotate(0.04deg);
  -ms-transform: rotate(0.04deg);
  -o-transform: rotate(0.04deg);
}
.section__txt {
  font-weight: 400;
  text-align: justify;
  font-size: 4vw;
  transform: rotate(0.04deg);
  -webkit-transform: rotate(0.04deg);
  -moz-transform: rotate(0.04deg);
  -ms-transform: rotate(0.04deg);
  -o-transform: rotate(0.04deg);
}
/* main */
.img__item--alone {
  display: block;
  width: 100%;
}
.img {
  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  &__item {
    img {
      width: 100%;
      display: block;
    }
  }
  &__info {
    position: absolute;
    font-size: 10px;
    z-index: 1;
    transform: rotate(0.04deg);
    -webkit-transform: rotate(0.04deg);
    -moz-transform: rotate(0.04deg);
    -ms-transform: rotate(0.04deg);
    -o-transform: rotate(0.04deg);
    &.flex {
      display: flex;
      align-items: center;
      .img__info--triangle {
        margin-right: 5px;
      }
    }
  }
  &__info--triangle {
    width: 6px;
    display: block;
    margin-bottom: 3.5px;
    &.top {
    }
    &.left {
      transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
    }
    img {
      width: 100%;
    }
  }
  &__txt {
    line-height: 1.3;
  }
}
.section1 {
  background: #e6e4dc;
  padding-bottom: 35px;
  .section__txt {
    &.one {
      margin-top: 45px;
    }
  }
  .img__item--alone {
    margin-top: 37.5px;
    width: 100%;
  }
  // .img {
  //   &__list {
  //     margin-top: 17px;
  //   }
  //   &__item {
  //     margin: 3px 0;
  //     position: relative;

  //     &.one {
  //       width: calc(38.67% - 3.5px);
  //       .img__info {
  //         right: -105px;
  //         bottom: 0;
  //       }
  //     }
  //     &.two {
  //       width: calc(61.33% - 3.5px);
  //       height: fit-content;
  //       .img__info {
  //         left: 0px;
  //         bottom: -22px;
  //       }
  //     }
  //     &.three {
  //       height: fit-content;
  //       .img__info {
  //         left: 2px;
  //         bottom: -20px;
  //       }
  //     }
  //   }
  // }
}
.author {
  display: block;
}
.line {
  height: 30px;
  background: url('https://publish.adef.co.kr/uniqlo_img/230308_tokyo/img_line_230308.png')
    center center no-repeat;
  background-size: cover;
}
.content__col2 {
  display: flex;
  justify-content: space-between;
  font-weight: 400;
  text-align: justify;
  font-size: 4vw;
  &--img {
    margin-top: 5px;
  }
  &--txt {
    line-height: 1.55;
    font-size: 3.5vw;
    transform: rotate(0.04deg);
  }
  &--txt--addr {
    margin-top: 5px;
    font-size: 3vw;
    line-height: 1.3;
    text-align: initial;
    transform: rotate(0.04deg);
    -webkit-transform: rotate(0.04deg);
    -moz-transform: rotate(0.04deg);
    -ms-transform: rotate(0.04deg);
    -o-transform: rotate(0.04deg);
  }
}
.title {
  position: relative;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;

  &__h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 900;
    font-size: 7vw;
    transform: rotate(0.04deg);
    -webkit-transform: rotate(0.04deg);
    -moz-transform: rotate(0.04deg);
    -ms-transform: rotate(0.04deg);
    -o-transform: rotate(0.04deg);
  }
  &__tag {
    display: inline-block;
    color: #f2f1ed;
    padding: 7.5px 12px;
    font-size: 3.2vw;
    background: url('https://publish.adef.co.kr/uniqlo_img/230308_tokyo/subtitle_bg0_230308.png')
      center center no-repeat;
    background-size: 100%;
    transform: rotate(0.04deg);
    -webkit-transform: rotate(0.04deg);
    -moz-transform: rotate(0.04deg);
    -ms-transform: rotate(0.04deg);
    -o-transform: rotate(0.04deg);
  }
  &::after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 1px;
    height: 10px;
  }
  &.center {
    align-items: center;

    &::after {
      left: 50%;
      transform: translateX(-50%);
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
    }
  }
  &.left {
    align-items: flex-start;
    &::after {
      left: 0;
    }
  }
  &.right {
    align-items: flex-end;

    &::after {
      right: 0;
    }
  }
  &.brown {
    color: #73543f;

    &::after {
      background: #8c7362;
    }
  }
  &.black {
    color: #322d27;
    &::after {
      background: #5b5752;
    }
  }
}

.section2 {
  padding: 45px 0 65px;
  background: #f2f1ed;

  .title {
    &__ic {
      margin-left: 3.5px;
      width: 3vw;
    }
    &::after {
      background: #8c7362;
    }
  }
  .section__txt {
    margin-top: 10px;
  }
  .img {
    &__list {
      margin-top: 21px;
    }
    &__item {
      margin: 4px 0;
      &.one {
        width: 33.75%;
      }
      &.two {
        width: 63.73%;
      }
      &.three {
        width: 72.21%;
      }
      &.four {
        width: 25.5%;
      }
    }
  }
  .img__item--alone {
    margin-top: 42.5px;
  }
}
.section3 {
  padding: 82.5px 0 80px;

  .title {
    &::after {
      background: #5b5752;
    }
    &__tag {
      background: url('https://publish.adef.co.kr/uniqlo_img/230308_tokyo/subtitle_bg1_230308.png')
        center center no-repeat;
      background-size: 100%;
    }
    &__ic {
      width: 3vw;
      margin: 12px 0 0 5px;
    }
  }
  .content__col2 {
    margin-top: 25px;
    &--txt {
      width: calc(60% - 6.5px);
    }
    &--img {
      width: calc(40% - 6.5px);
      img {
        width: 100%;
      }
    }
  }
}

.section4 {
  background: #f2f1ed;
  padding: 75px 0;
  .title {
    &::after {
      background: #5b5752;
    }
    &__tag {
      background: url('https://publish.adef.co.kr/uniqlo_img/230308_tokyo/subtitle_bg2_230308.png')
        center center no-repeat;
      background-size: 100%;
    }
    &__ic {
      width: 6vw;
      margin: 3px 5px 0 0px;
    }
  }
  .content__col2 {
    margin-top: 25px;
    &--txt {
      width: calc(60% - 6.5px);
    }
    &--img {
      width: calc(40% - 6.5px);
      img {
        width: 100%;
      }
    }
  }
}

.section5 {
  padding: 60px 0 75px;
  &__visual--img {
    width: 100%;
  }
  .title {
    margin-top: -40px;
    &__ic {
      width: 6vw;
      margin-left: 5px;
    }
    &__tag {
      background: url('https://publish.adef.co.kr/uniqlo_img/230308_tokyo/subtitle_bg3_230308.png')
        center center no-repeat;
      background-size: 100%;
    }
  }
  .section__txt {
    margin-top: 25px;
  }
  .img {
    &__list {
      margin-top: 25px;
    }
    &__item {
      &.one {
        width: 58.33%;
      }
      &.two {
        width: 39.3%;
      }
    }
  }
  .img__item--alone {
    margin-top: 25px;
  }
}

.section6 {
  padding: 72.5px 0 78px;
  background: #f2f1ed;
  .title {
    &__ic {
      width: 3vw;
      margin-left: 5px;
    }
    &__tag {
      background: url('https://publish.adef.co.kr/uniqlo_img/230308_tokyo/subtitle_bg4_230308.png')
        center center no-repeat;
      background-size: 100%;
    }
  }
  .img__item--alone {
    margin-top: 25px;
  }
}

.more_content {
  display: flex;
  padding: 13.5px 0 12.5px;
  background: #574d3a;
  color: #fff;
  font-size: 4vw;
  align-items: center;
  justify-content: center;
  img {
    margin-right: 10px;
    width: 6vw;
  }
}
